{% extends "base.html" %}
{% import "util/menuentry.html" as me %}

{% block sidebarnav %}
    <ul class="nav nav-sidebar">
        {{ me.menu_entry("smbresources", "SMB resources", active) }}
        {{ me.menu_entry("users", "Users", active) }}
        {% if config['DEBUG'] %}
            {{ me.menu_entry("uploads", "Uploads", active) }}
        {% endif %}
        {% if not config['STANDALONE'] %}
        {{ me.menu_entry("email", "Email", active) }}
        {{ me.menu_entry("stats", "Usage stats", active) }}
        {% endif %}
        {{ me.menu_entry("log", "Log", active) }}
    </ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='racine.js', version='20230402') }}"></script>
{% endblock %}