{% extends "base.html" %}
{% import "util/menuentry.html" as me %}

{% block title %}
{{ super() }} - Settings
{% endblock %}

{% block sidebarnav %}
    <ul class="nav nav-sidebar">
        {{ me.menu_entry("smbresources", "SMB resources", active) }}
        {{ me.menu_entry("users", "Users", active) }}
        {% if config['DEBUG'] %}
            {{ me.menu_entry("uploads", "Uploads", active) }}
        {% endif %}
        {{ me.menu_entry("email", "Email", active) }}
        {{ me.menu_entry("stats", "Usage stats", active) }}
        {{ me.menu_entry("log", "Log", active) }}
    </ul>
{% endblock %}
