{% extends "base.html" %}

{% block sidebarnav %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {{ menu_entry("overview", "Overview") }}
        {{ menu_entry("revision", "Revision") }}
        {{ menu_entry("smbresources", "SMB resources") }}
        {{ menu_entry("users", "Users") }}
        {% if config['DEBUG'] %}
            {{ menu_entry("uploads", "Uploads") }}
        {% endif %}
        {{ menu_entry("email", "Email") }}
        {{ menu_entry("log", "Log") }}
    </ul>
</div>
{% endblock %}