{% set active = "revision" %}
{% extends "settings/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h3 class="page-header">Revision</h3>
    <p>
    running MSM revision: {{ local_rev }} <br>
    MSM revision on GitHub: {{ remote_rev if remote_rev != 0 else 'could not retrieve' }} <br>
    {% if remote_rev != 0 %}
      {% if local_rev != remote_rev %}
          <font color="#FF0000">The running MSM revision is newer or older than the GitHub revision.</font>
      {% else %}
          <font color="#00FF00">You are using the GitHub revision of MSM.</font>
      {% endif %}
    {% endif %}
    </p>
    <h4>Plugins</h4>
    <p>
    Installed plugins:
    {% if not plugins %}
        None
    {% else %}
        <ul>
        {% for plugin in plugins %}
            <li>{{ plugin.title }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </p>
    <h4>Recent modifications (running revision):</h4>
    <table>
    {% for c in recent_changes %}
        <tr><td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;">{{ c.hexsha }}</td><td style="padding-bottom: 10px; vertical-align: top;">{{ c.message }}</td>
    {% endfor %}
    </table>
{% endblock %}
