{% set active = "smbresources" %}
{% extends "settings/base.html" %}
{% import "util/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='editor.css')}}">
{% endblock %}

{% block page_content %}
<h3 class="page-header">SMB resources</h3>
<table class="table">
    <thead>
      <tr>
        <th>ID</th><th>Name</th><th>Server name (NetBIOS)</th><th>Server address</th><th>Server port</th><th>Domain</th>
        <th>Share name</th><th>Path</th><th>Username</th><th>Password</th>
      </tr>
    </thead>
    <tbody>
    {% for smbresource in smbresources %}
    <tr>
        <td>
            {{ smbresource.id }}
            <i class="actionicon glyphicon glyphicon-trash" data-type="smbresource" data-id="{{ smbresource.id }}" data-toggle="modal" data-target="#dlg-confirm-delete"></i>
        </td>
        <td><div class="editable" data-setter="/api/set/smbresource/name/{{ smbresource.id }}">{{ smbresource.name }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/servername/{{ smbresource.id }}">{{ smbresource.servername }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/serveraddr/{{ smbresource.id }}">{{ smbresource.serveraddr }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/serverport/{{ smbresource.id }}">{{ smbresource.serverport }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/domainname/{{ smbresource.id }}">{{ smbresource.domainname }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/sharename/{{ smbresource.id }}">{{ smbresource.sharename }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/path/{{ smbresource.id }}">{{ smbresource.path }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/userid/{{ smbresource.id }}">{{ smbresource.userid }}</div></td>
        <td><div class="editable" data-setter="/api/set/smbresource/password/{{ smbresource.id }}">{{ smbresource.password }}</div></td>
    </tr>
    {% endfor %}
    <form method="POST">
    {{ form.hidden_tag() }}
    <tr>
        <td>{{ form.submit(class_='form-control', value='+') }}</td>
        <td>{{ form.name(class_='form-control') }}</td>
        <td>{{ form.servername(class_='form-control') }}</td>
        <td>{{ form.serveraddr(class_='form-control') }}</td>
        <td>{{ form.serverport(class_='form-control') }}</td>
        <td>{{ form.domainname(class_='form-control') }}</td>
        <td>{{ form.sharename(class_='form-control') }}</td>
        <td>{{ form.path(class_='form-control') }}</td>
        <td>{{ form.userid(class_='form-control') }}</td>
        <td>{{ form.password(class_='form-control') }}</td>
    </tr>
    </form>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    R.init("{{ api_token }}", "smbresources");
</script>
{% endblock %}
