{% set active = "smbresources" %}
{% extends "settings/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h1 class="page-header">Action types</h1>
<div class="container-fluid">
  <div class="row list-header">
    <div class="col-md-1">#</div>
    <div class="col-md-1">Name</div>
      <div class="col-md-2">Server name (NetBIOS)</div>
      <div class="col-md-2">Server address</div>
      <div class="col-md-2">Share name</div>
      <div class="col-md-1">User ID</div>
      <div class="col-md-2">Password</div>
  </div>
  {% for smbresource in smbresources %}
  <div class="row list-entry">
    <div class="col-md-1">{{ smbresource.id }}</div>
    <div class="col-md-1">{{ smbresource.name }}</div>
      <div class="col-md-2">{{ smbresource.servername }}</div>
      <div class="col-md-2">{{ smbresource.serveraddr }}</div>
      <div class="col-md-2">{{ smbresource.sharename }}</div>
      <div class="col-md-1">{{ smbresource.userid }}</div>
      <div class="col-md-2">{{ smbresource.password }}</div>
        <div class="col-md-1"><button class="btn btn-default" data-id="{{ smbresource.id }}" data-toggle="modal" data-target="#confirm-delete">Delete</button></div>
  </div>
  {% endfor %}
  <div class="row list-entry">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="col-md-1"></div>
      <div class="col-md-1">{{ wtf.form_field(form.name) }}</div>
        <div class="col-md-2">{{ wtf.form_field(form.servername) }}</div>
        <div class="col-md-2">{{ wtf.form_field(form.serveraddr) }}</div>
        <div class="col-md-2">{{ wtf.form_field(form.sharename) }}</div>
        <div class="col-md-1">{{ wtf.form_field(form.userid) }}</div>
        <div class="col-md-2">{{ wtf.form_field(form.password) }}</div>
      <div class="col-md-1">{{ wtf.form_field(form.submit) }}</div>
    </form>
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
              <p>You are about to delete an item, this procedure is irreversible.</p>
              <p>Do you want to proceed?</p>
              <p class="debug-id"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<<script type="text/javascript" charset="utf-8">
$(function() {
  $(document).ready(function() {
    $('#confirm-delete').on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('id', $(e.relatedTarget).data('id'));
      $('.debug-id').html('Delete ID: <strong>' + $(this).find('.btn-ok').attr('id') + '</strong>');
    });

    $('.btn-ok').click( function(event) {
      var id = $(this).attr('id');
      location.href = "/settings/smbresources?delete="+id;
    });
  });
});
</script>
{% endblock %}