{% set active = "uploads" %}
{% extends "settings/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h3 class="page-header">Uploads</h3>

<h4>Files that cannot be found:</h4>
<table class="table">
    <thead><tr>
      <th>#</th>
      <th>User</th>
      <th>Source</th>
    </tr></thead>
    <tbody>
    {% for n in nofiles %}
        <tr>
            <td>{{ n.id }}</td>
            <td>{{ n.user.username }}</td>
            <td>{{ n.source }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Empty files:</h4>
<table class="table">
    <thead><tr>
        <th>#</th>
        <th>User</th>
        <th>Source</th>
    </tr></thead>
    <tbody>
    {% for e in emptyfiles %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.user.username }}</td>
            <td>{{ e.source }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Duplicates:</h4>
<table class="table">
    <thead><tr>
        <th>#</th>
        <th>Dup#</th>
        <th>User (1st)</th>
        <th>Source (1st)</th>
        <th>2nd ident.<th>
    </tr></thead>
    <tbody>
    {% for d in duplicates %}
        <tr>
            <td>{{ d[0].id }}</td>
            <td>{{ d[1].id }}</td>
            <td>{{ d[0].user.username }}</td>
            <td>{{ d[0].source }}</td>
            <td>{{ d[0].source == d[1].source and d[0].user.id == d[1].user.id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Unused uploads:</h4>
<table class="table">
    <thead><tr>
        <th>#</th>
        <th>User</th>
        <th>Source</th>
    </tr></thead>
    <tbody>
    {% for u in unused %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.user.username }}</td>
            <td>{{ u.source }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
