{% set active = "users" %}
{% extends "settings/base.html" %}
{% import "util/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='editor.css')}}">
{% endblock %}

{% block page_content %}
<h3 class="page-header">Users</h3>
<table class="table">
    <thead><tr>
        <th width="10%">ID</th><th width="20%">Admin</th><th width="35%">Name</th><th width="35%">Email</th>
    </tr></thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>
            {{ user.id }}
            <i class="actionicon glyphicon glyphicon-trash" data-type="user" data-id="{{ user.id }}" data-toggle="modal" data-target="#confirm-delete"></i>
            <i class="actionicon loginas glyphicon glyphicon-log-in" data-userid="{{ user.id }}"></i>
        </td>
        <td><div class="editable cmbeditable" data-setter="/api/set/user/is_admin/{{ user.id }}">{{ user.is_admin }}</div></td>
        <td><div class="editable txteditable" data-setter="/api/set/user/username/{{ user.id }}">{{ user.username }}</div></td>
        <td><div class="editable txteditable" data-setter="/api/set/user/email/{{ user.id }}">{{ user.email }}</div></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3 class="page-header">Add user</h3>
{{ wtf.quick_form(form) }}

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var R = new Racine("{{ api_token }}", "users");        
</script>
{% endblock %}