{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='list.css')}}">
{% endblock %}

{% macro menu_entry(name, title) %}
    <li {% if name==active %} class="active"><a href="#">{% else %}><a href="/profile/{{ name }}">{% endif %}{{ title }}{% if name==active %} <span class="sr-only">(current)</span>{% endif %}</a></li>
{% endmacro %}

{% block sidebarnav %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {{ menu_entry("overview", "Overview") }}
        {{ menu_entry("changedetails", "Change my details") }}
        {{ menu_entry("changepassword", "Change my password") }}
        {{ menu_entry("leave", "Leave") }}
    </ul>
</div>
{% endblock %}


{% block page_content %}
<h1 class="page-header">Profile</h1>
{% endblock %}
