{% set active = "leave" %}
{% extends "profile/base.html" %}
{% import "util/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <style>
    #userform {
        max-width: 400px;
    }
    </style>
{% endblock %}

{% block page_content %}
    <h3 class="page-header">Leaving the laboratory</h3>
    {% if current_user.heir is none %}
        <p>
            When you are leaving your laboratory, it is a good idea to designate someone who will have access
            to your data. Typically, this will be your supervisor or one of your colleagues. The person you designate will
            then see your name in his/her navigation bar and can log in to your account and see all your samples and
            actions.
        </p>
        <p><b>
            Once you have confirmed that you are leaving, your name will disappear from the user list on the
            login page. You will still be able to log in by typing your email address manually.
        </b></p>
        {% if user is none %}
            <p><b>
                Please select a user that you would like to inherit your data.
            </b></p>
            <div id="userform">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="username" class="form-control" placeholder="username">
                </div>
            </div>
            <button id="userbrowserok" type="button" class="btn btn-primary">Submit</button>
        {% else %}
            <p><b>
                Please confirm that you want to leave and pass your data on to: {{ user.username }}
                <button id="confirm" data-heir="{{ user.username }}">Confirm</button>
                <br>N.B.: If any other user has passed his/her data on to you in the past, this data will also be
                passed on to the person you designated. If you decide to reactivate your account in the future,
                this data will stay with your designated person.
            </b></p>
        {% endif %}
    {% else %}
        <p>
            You have left the laboratory and your data has been passed on to: <b>{{ current_user.heir.username }}</b><br>
            Would you like to re-activate your account?
            <button id="reactivate">OK</button>
        </p>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='racine.js', version='20230402') }}"></script>
<script>
    R.init("{{ api_token }}", "leave");        
</script>
{% endblock %}