alembic==1.10.2
apispec==6.3.0
apispec-webframeworks==0.5.2
Authlib==1.2.0
blinker==1.6.2
celery==5.2.7
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==42.0.4
dnspython==2.6.1
dominate==2.7.0
email-validator==1.3.1
Flask==2.3.3
Flask-HTTPAuth==4.8.0
# TODO: use 0.7.0 once it's released
Flask-Login @ git+https://github.com/maxcountryman/flask-login.git@ea80968c10f3d521ea4983652f183aa42e2f44fc
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.2.1
greenlet==2.0.2
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.4
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.19.0
packaging==23.0
Pillow==10.3.0
psutil==5.9.4
pyasn1==0.4.8
pycparser==2.21
pysmb==1.2.9.1
PyYAML==6.0
redis==4.5.4
requests==2.32.2
SQLAlchemy==2.0.8
tqdm==4.66.3
typing_extensions==4.5.0
urllib3==1.26.18
visitor==0.1.3
Werkzeug==3.0.3
WTForms==3.0.1
