{# macros for quick creation of modal dialogs #}
{% macro begin_modal_dialog(id, title, class='') %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog {{ class }}">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
            </div>
{% endmacro %}
{% macro end_modal_dialog() %}
            </div>
        </div>
    </div>
{% endmacro %}
