{% import "util/wtf.html" as wtf %}

{% macro render_modal_dialog(id, title, class='', attr='') %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog {{ class }}" {{ attr }}>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">{{ title }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            {{ caller() }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_form_dialog(form, id, title, class='') %}
    {% set content = caller() %}
    {% call render_modal_dialog(id, title, class, 'data-prefix=' + form._prfx) %}
        <div class="modal-body">
            {{ content }}
            {{ wtf.quick_form(form) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary frm-dlg-submit">Submit</button>
            <button type="button" class="btn btn-secondary frm-dlg-clear">Clear</button>
        </div>
    {% endcall %}
{% endmacro %}
