div.sampleimage:hover button
{
  display: block;
}

div.sampleimage button {
  position:absolute;
  top:10px;
  left:25px;
  display:none;
}

.sharelistentry {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.sharelistentry img {
  position: absolute;
  right: 0;
}

.list-entry {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.list-entry:hover {
  background-color: #EEEEEE;
}

.list-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border-top-style: double;
  border-top-width: 2px;
  border-bottom-style: double;
  border-bottom-width: 2px;
  margin-top: 20px;
}

/* WORKAROUND TO "PULL DOWN" (BOTTOM ALIGN) COLUMN CONTENT OF LIST HEADER */
.list-header {
    font-size: 0;
}
.list-header > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.list-header > *:last-child {
    vertical-align: bottom;
}
.list-header p:last-child {
    margin-bottom: 0; /* optional */
}
/* END OF WORKAROUND */

.nav-entry {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  cursor: move;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.nav-entry-archived {
  color: #999999;
}

.nav-entry:hover {
  background-color: #CCCCEE !important;
}

.nav-entry-name {
  font-weight: bold;
}

.nav-entry-type {
}

.nav-entry-owner {
  font-style: italic;
}