.navbar-shortcuts {
    font-weight: bold;
}

.navbar-shortcuts > .left {
    float: left;
}

.navbar-shortcuts > .right {
    float: right;
}

.navbar-shortcuts .navbar-shortcut {
    cursor: pointer;
}

.navbar-shortcut.sort-active {
    background-color: #999999;
    border: 1px solid black;
}

.navbar-clear {
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.nav-heading {
    padding-bottom: 10px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.nav-entry, .inheritance {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.nav-entry .glyphicon {
    margin-left: -20px;
    float: left;
}

.nav-entry-archived {
    color: #999999;
}

.nav-entry:hover, .inheritance:hover {
    background-color: #CCCCEE !important;
}

.nav-entry-name {
    font-weight: bold;
}

.nav-entry-owner {
    font-style: italic;
}

.nav-entry-owner .glyphicon {
    margin-left: 0;
    margin-right: 5px;
}

.nav-children {
    padding-left: 10px;
}