.list-entry {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #CCCCCC;
}

.list-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border-top-style: double;
  border-top-width: 2px;
  border-bottom-style: double;
  border-bottom-width: 2px;
  margin-top: 20px;
}

/* WORKAROUND TO "PULL DOWN" (BOTTOM ALIGN) COLUMN CONTENT OF LIST HEADER */
.list-header {
    font-size: 0;
}
.list-header > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.list-header > *:last-child {
    vertical-align: bottom;
}
.list-header p:last-child {
    margin-bottom: 0; /* optional */
}
/* END OF WORKAROUND */