{% import "bootstrap/wtf.html" as wtf %}
{% import "util/dialog.html" as dialog %}

{{ dialog.begin_modal_dialog('dlg_markasnews', 'Mark as news', 'modal-lg') }}
    <div class="modal-body">
        <p>
            Mark this action as news to all users who share this sample.
        </p>
        <form id="dlg_markasnews_form">
            {{ wtf.quick_form(dlg_markasnews_form) }}
        </form>
    </div>
    <div class="modal-footer">
        <button id="dlg_markasnews_submit" type="button" class="btn btn-primary">Submit</button>
    </div>
{{ dialog.end_modal_dialog() }}
