{% import "util/wtf.html" as wtf %}
{% import "util/dialog.html" as dialog %}

{{ dialog.begin_modal_dialog('dlg-mark-as-news', 'Mark as news', 'modal-lg') }}
    <div class="modal-body">
        <p>
            Mark this action as news to all users who share this sample.
        </p>
        <form>
            {{ wtf.quick_form(markasnewsform) }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary frm-dlg-submit">Submit</button>
    </div>
{{ dialog.end_modal_dialog() }}
