{% import "util/wtf.html" as wtf %}
{% import "util/dialog.html" as dialog %}

{{ dialog.begin_modal_dialog('newsample', 'New sample', 'modal-lg') }}
    <div class="modal-body">
        <form>
            {{ newsampleform.hidden_tag() }}  {# also contains newsampleform.newsampleparentid #}
            {{ wtf.form_field(newsampleform.newsamplename) }}
            {{ wtf.form_field(newsampleform.newsampleparent) }}
            {{ wtf.form_field(newsampleform.newsampledescription) }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary frm-dlg-submit">Submit</button>
        <button type="button" class="btn btn-default frm-dlg-clear">Clear</button>
    </div>
{{ dialog.end_modal_dialog() }}
