{% import "util/dialog.html" as dialog %}

{% call dialog.render_modal_dialog('userbrowser', 'Select a user') %}
    <div class="modal-body">
        <div>Select a user you want to share this sample with:<br>&nbsp;</div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" id="username" class="form-control" placeholder="username">
        </div>
        <div id="recent-collaborators"></div>
    </div>
    <div class="modal-footer">
        <button id="userbrowserok" type="button" class="btn btn-primary" data-dismiss="modal">
            OK
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
{% endcall %}
