{% extends "base.html" %}

{% import "util/dialog.html" as dialog %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/lightbox.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css', version='20191215')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/editor.css', version='20210420')}}">
    <style>{{ icons.extraStyles['navbar.css'] }}</style>
    <style>{{ icons.extraStyles['editor.css'] }}</style>
{% endblock %}

{% block page_content %}
    <div id="editor-frame">
    </div>
{% endblock %}

{% block dialogs %}
{{ super() }}
    {% include "dialogs/userbrowser.html" %}
    {% call dialog.render_form_dialog(newsampleform, 'dlg-new-sample', 'New sample', 'modal-lg') %}
    {% endcall %}
    {% call dialog.render_form_dialog(markasnewsform, 'dlg-mark-as-news', 'Mark as news', 'modal-lg') %}
    <p>
        Mark this action as news to all users who share this sample.
    </p>
    {% endcall %}
{% endblock %}

{% block scripts %}
{{ super() }}
    {% include "util/mathjax.html" %}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.timestamp='20201114';
    </script>
{% endblock %}


