{% extends "base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/lightbox.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css', version='20191215')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='editor.css', version='20210420')}}">
{% endblock %}

{% block sidebarnav %}
    <div id="sidebar" class="col-sm-3 col-md-2 sidebar">
    </div>
{% endblock %}

{% block page_content %}
    <div id="editor-frame">
    </div>
{% endblock %}

{% block dialogs %}
{{ super() }}
    {% include "dialogs/userbrowser.html" %}
    {% include "dialogs/newsample.html" %}
    {% include "dialogs/markasnews.html" %}
{% endblock %}

{% block scripts %}
{{ super() }}
    {% include "util/mathjax.html" %}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.timestamp='20201114';
    </script>
    <script src="{{ url_for('static', filename='racine.js', version='20230402') }}"></script>
    <script>
        R.init("{{ api_token }}", "{{ view }}", {{ params|tojson }});
    </script>
{% endblock %}


