{% import "util/wtf.html" as wtf %}

{# TODO: are these fields still required if we have everything in JS ? #}
<div id="sampleid" style="display: none">{{ sample.id }}</div>
<div id="samplename" style="display: none">{{ sample.name }}</div>
<h2 class="page-header">
    {% if sample.owner != current_user and sample.iscollaborative %}
        <img class="sample-attr" title="Collaborative" src="/static/images/collaborative.png">
    {% endif %}
    <div id="samplename" class="{% if sample.owner == current_user %}editable{% endif %}" data-setter="/api/set/sample/name/{{ sample.id }}">{{ sample.name }}</div>
    {% if sample.owner == current_user %}
        <img class="editor-shortcut" title="Delete sample" src="/static/images/delete.png" data-href="/delsample/{{ sample.id }}" data-type="sample" data-id="{{ sample.id }}" data-toggle="modal" data-target="#dlg-confirm-delete">
        <img class="editor-shortcut" title="{% if sample.isarchived %}De-archive{% else %}Archive{% endif %}" id="archive" src="{% if sample.isarchived %}/static/images/dearchive.png{% else %}/static/images/archive.png{% endif %}">
        <img class="editor-shortcut" title="{% if sample.iscollaborative %}Make non-collaborative{% else %}Make collaborative{% endif %}" id="collaborate" src="{% if sample.iscollaborative %}/static/images/non-collaborative.png{% else %}/static/images/collaborative.png{% endif %}">
    {% endif %}
    {% if sample.parent_id != 0 and sample.parent.actions != [] %}
    <i id="showparentactions" class="editor-shortcut glyphicon glyphicon-eye-{{ 'open' if showparentactions else 'close' }}" title="{{ 'Hide' if showparentactions else 'Show' }} parent actions"></i>
    {% endif %}
    <i id="scrolltobottom" class="editor-shortcut glyphicon glyphicon-arrow-down" title="Scroll to the bottom"></i>
    <i id="invertactionorder" class="editor-shortcut glyphicon glyphicon-resize-vertical" title="Invert action order"></i>
    <i id="showinnavigator" class="editor-shortcut glyphicon glyphicon-search" title="Show in navigator"></i>
    <div style="clear:both;"></div>
</h2>
<div class="container-fluid">
    <div class="row">
        {% set show_sampleimage_div = (sample.image != None or sample.owner == current_user) %}
        {% if show_sampleimage_div %}
        <div class="col-md-4 sampleimage">
            <div id="hiddenckeditor" contenteditable="true" style="display:none;"></div>
            <div><strong>Image:</strong></div>
            {% if sample.image == None and sample.owner == current_user %}
                <div class="newsampleimage">
                    <a id="changesampleimage" href=""><i class="glyphicon glyphicon-plus"></i> add sample image</a>
                </div>
            {% elif sample.image != None %}
                <div class="{% if sample.owner == current_user %}imgeditable{% endif %}">
                    <img id="sampleimage" src="{{ sample.image }}">
                    <img id="changesampleimage" src="/static/images/insertimage.png" title="Change sample image">
                </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="col-md-5 sampledescription">
            <div><strong>Description:</strong></div>
            <div id="sampledescription" class="{% if sample.owner == current_user %}ckeditable editable{% endif %}" data-type="sample" data-field="description" data-id="{{ sample.id }}">
                {{ sample.description|safe }}
            </div>
        </div>
        <div class="col-md-3 sampleshares">
            {# workaround to only collapse the share list when it is "sufficiently" long; note that this depends on window width... #}
            <div id="sharelistcontainer" {% if shares|length > 4 %}class="collapse" aria-expanded="false"{% endif %}>
            <div id="sharelist">
            <div><strong>Shared with:</strong></div>
            {% for share in shares %}
                <div class="sharelistentry" id="sharelistentry{{ share.id }}">
                    {% if sample.owner == current_user or share.user == current_user %}
                        <a data-type="share" data-id="{{ share.id }}" data-toggle="modal" data-target="#dlg-confirm-delete" href="">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    {% else %}
                        <i class="glyphicon glyphicon-user"></i>
                    {% endif %}
                    {{ share.user.username }}
                </div>
            {% endfor %}
            </div>
            <div class="sharelistbottom"></div>
            </div>
            <div class="sharelistbuttons">
                {% if shares|length > 4 %}
                    <a id="collapsebutton" role="button" class="collapsed" data-toggle="collapse" href="#sharelistcontainer" aria-expanded="false" aria-controls="sharelistcontainer"></a>
                {% endif %}
                {% if sample.owner == current_user %}
                    <a data-toggle="modal" data-target="#userbrowser" href=""><i class="glyphicon glyphicon-plus"></i> add share</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    {% if invertactionorder %}
    <div class="row list-entry">
        <form id="newactionform">
            {{ newactionform.hidden_tag() }}
            <div class="col-md-2">
                {{ wtf.form_field(newactionform.timestamp) }}
                {{ wtf.form_field(newactionform.submit) }}
            </div>
            <div class="col-md-10">{{ wtf.form_field(newactionform.description) }}</div>
        </form>
    </div>
    {% endif %}
    {% for i in range(actions|length)%}
    {% set action=actions[i] %}
    <div class="row list-entry {% if action.sample != sample %}parentaction{% endif %}" id="{{ action.id }}" {% if action.sample != sample %}style="background: #F0FFF0;"{% endif %}>
        <div class="col-md-2">
            <div class="actiondate{% if action.owner == current_user %} editable{% endif %}" data-setter="/api/set/action/timestamp/{{ action.id }}">{{ action.timestamp }}</div>
            <div class="actionicons">
                {% if action.owner != current_user %}<div style="font-style: italic">{{ action.owner.username }}</div>{% endif %}
                {% if action.sample != sample %}<div style="font-style: italic;">{{ action.sample.name }}</div>{% endif %}
                {% if action.owner == current_user or sample.iscollaborative %}
                    <i class="actionicon glyphicon glyphicon-trash" data-type="action" data-id="{{ action.id }}" data-toggle="modal" data-target="#dlg-confirm-delete"></i>
                {% if not i == 0 %} {# can  be moved up #}
                    <i class="actionicon glyphicon glyphicon-arrow-up swapaction" data-id="{{ action.id }}" data-swapid="{{ actions[i-1].id }}"></i>
                {% endif %}
                {% if not (i+1) == actions|length %} {# can  be moved down #}
                    <i class="actionicon glyphicon glyphicon-arrow-down swapaction" data-id="{{ action.id }}" data-swapid="{{ actions[i+1].id }}"></i>
                {% endif %}
                {% endif %}
                <i id="togglenews-{{ action.id }}" class="actionicon glyphicon glyphicon-flag togglenews {% if not action.news_id %}markasnews{% else %}unmarkasnews{% endif %}" data-id="{{ action.id }}"></i>
            </div>
        </div>
        <div class="col-md-10 actiondescription{% if action.owner == current_user or sample.iscollaborative %} editable ckeditable{% endif %}" data-type="action" data-field="description" data-id="{{ action.id }}">{{ action.description|safe }}</div>
    </div>
    {% endfor %}
    {% if not invertactionorder %}
    <div class="row list-entry">
        <form id="newactionform">
            {{ newactionform.hidden_tag() }}
            <div class="col-md-2">
                {{ wtf.form_field(newactionform.timestamp) }}
                {{ wtf.form_field(newactionform.submit) }}
            </div>
            <div class="col-md-10">{{ wtf.form_field(newactionform.description) }}</div>
        </form>
    </div>
    {% endif %}
</div>

