<h4><b>Search results:</b> "{{ term }}"</h4>
<hr>
<div class="resultslist" style="max-width:500px;">
{% for r in results %}
    <div class="sample" data-id="{{ r.id }}">
        <img src="/static/images/sample.png" width="24px">
        {{ r.name }} &nbsp;&nbsp;
        {% if not r.mysample %}
            <i class="{{ icons.user }}"></i>
            {{ r.ownername }} &nbsp;&nbsp;
        {% endif %}
        {% if r.parentname %}
            <i class="{{ icons.childItem }}"></i>
            {{ r.parentname }}
        {% endif %}
    </div>
{% endfor %}
</div>