{% macro render_nodes(nodes) %}
    {% for node in nodes %}
        {% set sample = node.sample %}
        <div class="nav-container" id="nav-container{{ sample.id }}">
            <div id="nav-entry{{ sample.id }}"
                    class="nav-entry nav-dropzone{% if sample.isarchived %} nav-entry-archived{% endif %}"
                    data-id="{{ sample.id }}" data-name="{{ sample.name }}"
                    data-toggle="collapse" data-target="#nav-children{{ sample.id }}"
                    draggable="true">
                <div class="nav-entry-name">{{ sample.name }}</div>
                {% if sample.owner != current_user %}
                    <div class="nav-entry-owner">
                        {% if node.indirectly_shared %}
                            <i class="glyphicon glyphicon-lock"></i>
                        {% endif %}
                        {{ sample.owner.username }}
                    </div>
                {% endif %}
            </div>
            <div id="nav-children{{ sample.id }}"
                    class="collapse out nav-children{% if sample.isarchived %} nav-children-archived{% endif %}">
                    {{ render_nodes(node.children) }}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{# HTML for navbar #}
<div class="navbar-shortcuts">
    <span class="left">
        <a data-toggle="modal" data-target="#dlg-new-sample" href="" title="New sample">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </span>
    <span class="right">
        &nbsp;<i class="navbar-shortcut navbar-togglearchived glyphicon
                        glyphicon-eye-{{ 'open' if showarchived else 'close' }}"
                 title="{{ 'Hide' if showarchived else 'Show' }} archived"></i>
        &nbsp;<i class="navbar-shortcut navbar-sort-az glyphicon
                        glyphicon-sort-by-alphabet{{ ' sort-active' if order=='name' else '' }}"
                 title="Sort alphabetically"></i>
        &nbsp;<i class="navbar-shortcut navbar-sort-id glyphicon
                        glyphicon-sort-by-order{{ ' sort-active' if order=='id' else '' }}"
                 title="Sort by ID"></i>
        &nbsp;<i class="navbar-shortcut navbar-sort-lastmodified glyphicon
                        glyphicon-calendar{{ ' sort-active' if order=='last_modified' else '' }}"
                 title="Sort by last modification"></i>
    </span>
</div>

{# <div class="navbar-clear"></div>  #}
<div class="nav-main-container nav-dropzone" data-id="0">
    <div id="nav-mysamples">{{ render_nodes(root.children) }}</div>
    {% if inheritance %}
        <div class="nav-heading">Inheritance:</div>
        {% for i in inheritance %}
            <div class="inheritance" data-userid="{{ i.id }}">
                <img src="/static/images/user.png" width="30">{{ i.username }}
            </div>
        {% endfor %}
    {% endif %}
</div>
