{% if news %}
    <h2>News</h2>
{% endif %}
{% for n in news %}
    <div class="news">
        <div class="news-title news-header-item" data-toggle="collapse" data-target="#news-content{{ n.id }}">
            <i class="glyphicon glyphicon-flag togglenews"></i>
            {{ n.title if n.title else "[no title]"}}
        </div>
        <div class="news-expires news-header-item">Expires: {{ n.expires }}</div>
        <div class="news-sender news-header-item">Sent {{ n.published }} by {{ n.sender.username }}</div>
        {% if n.sample %}
        <div class="sample news-sample news-header-item" data-id="{{ n.sample.id }}" style="max-width: 300px;">
            <img src="/static/images/sample.png" height="20">
            {{ n.sample.name }}
        </div>
        {% endif %}
        <div class="news-clear"></div>
        <div id="news-content{{ n.id }}" class="news-content collapse out">{{ n.render_content()|safe }}</div>
    </div>
{% endfor %}

<h2>Disk space</h2>
{{ (totuploadvol+dbsize)|filesizeformat }} out of {{ (availablevol+totuploadvol+dbsize)|filesizeformat }} occupied.
<div class="progress" style="width: 200px;">
    <div class="progress-bar" role="progressbar"
         style="width:{{ (totuploadvol+dbsize)/(totuploadvol+availablevol+dbsize)*100 }}%;color:#000000;">
    </div>
</div>
{% if recent_samples %}
    <h2>Recent samples</h2>
{% endif %}
{% for s in recent_samples %}
    {# TODO: might want to rather use CSS for style #}
    <div class="sample" data-id="{{ s.id }}" style="max-width: 300px;">
        <img src="/static/images/sample.png" width="40">
        {{ s.name }}
    </div>
{% endfor %}

{# information only for the administrator #}
{% if current_user.is_admin %}
{% if conns %}
    <h2>Active SMB connections</h2>
    <table>
    {% for c in conns %}
        <tr><td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;">
            <img src="/static/images/resource.png" width="40">
            {{ c.resource }}, {{ "not" if not c.inuse else "" }} in use
        </td></tr>
    {% endfor %}
    </table>
{% endif %}
    <h2>Upload volume per user</h2>
    <table>
    {% for u in uploadvols %}
        {% if u[1] %}
            <tr>
                <td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;"><img src="/static/images/user.png" width="40">{{ u[0].username }}</td>
                <td style="padding-top: 10px;">
                    <div class="progress" style="width: 200px;">
                        <div class="progress-bar" role="progressbar" style="width:{{ u[1]/maxuploadvol*100 }}%;color:#000000";>
                        </div>
                    </div>
                </td>
                <td style="padding-bottom: 10px;padding-left:20px;">
                    {{ u[1]|filesizeformat }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% if newactionsallusers %}
    <h2>Recent activity per user (actions added in the last 7 days):</h2>
    <table>
    {% for n in newactionsallusers %}
        <tr>
            <td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;"><img src="/static/images/user.png" width="40">{{ n[0].username }}</td>
            <td style="padding-top: 10px;">
                <div class="progress" style="width: 200px;">
                    <div class="progress-bar" role="progressbar" style="width:{{ n[1]/maxcountallusers*100 }}%;">
                        {{ n[1] }}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endif %}
