/*
 * Set up scrollable side bar
 *
 * probably from https://gist.github.com/rmgimenez/07fd6a02c26fdf5e7febcba178ec78ec
 *
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.nav-button {
    display: none;
}

@media (max-width: 767px) {
    .nav-button {
        display: inline;
        float: right;
        color: #9d9d9d;
        font-size: 18px;
        line-height: 20px;
        padding: 15px;
        margin: 0px;
        cursor: pointer;
    }
    .nav-button:hover {
        color: #ffffff;
    }
    .nav-button.active {
        color: #ffffff;
    }
    .nav-button-left {
        float: left;
    }
}

/*
 * Sidebar
 */


/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (max-width: 767px) {
    .sidebar.overlay {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000; /* top */
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* scrollable */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;

        min-width: 250px;
        max-width: 250px;
    }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Content overlay for small screen sidebar */
@media (max-width: 767px) {
    .content-overlay {
        /* full screen */
        width: 100vw;
        /* transparent black */
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        display: none;
        /* middle layer, i.e. appears below the sidebar */
        z-index: 999;
    }
}

/* Sidebar navigation for settings and profile pages */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

