#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

#overlaytext {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#saveerrors {
    font-size: 20px;
    color: red;
}

.folders {
    display:inline-block;
    vertical-align:top;
    width:20%;
}
.files {
    display:inline-block;
    vertical-align:top;
    width:75%;
}
.resourcerow {
    clear:both;
}
div.folder, .resource, .historyitem {
    padding-left:48px;
    padding-top:10px;
    position:relative;
    min-height:48px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resource, .historyitem {
    padding-left:56px;
    margin-bottom:10px;
    margin-right: 30px;
    float: left;
}
.shortcut {
    width: 48px;
    height: 48px;
}
.folder img, .resource img, .historyitem img {
    position:absolute;
    left:0px;
    top:0px;
    width: 48px;
    height: 48px;
}
.shortcuts img {
    width: 48px;
    height: 48px;
}
.folder:hover, .resource.available:hover, .historyitem.available:hover, .shortcut:hover {
    cursor:pointer;
    background-color: #CCCCEE;
}
.folder span {
    font-size:12px;
}
.file {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 140px;
    padding: 5px;
}
.file:hover {
    cursor:pointer;
    background-color: #CCCCEE;
}
.file.selected {
    background-color: #BBBBFF;
}
.file.selected:hover {
    background-color: #BBBBFF;
}
.file img {
    max-width: 120px;
    max-height: 120px;
}
.file span {
    display: block;
    width: 100%;
    font-size: 12px;
    overflow:hidden;
    text-overflow:ellipsis;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}
#pathbuttons {
    float: left;
}
#upload-frame {
    float: right;
}
#multiswitch {
    float: right;
}
#browser-frame {
    margin-top: 45px;
}
#networkshares {
    float:left;
    width:50%;
    min-width:300px;
}
#browserhistory {
    float:left;
    width:50%;
}

/* adapted from: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}