#samplename {
    display:inline;
    font-weight:bold;
}

#samplename > form > input {
    width:30% !important;
}

.actiondate > form > input {
    width:100% !important;
    max-width:200px;
}

img.sample-attr {
    width: 28px;
    height: 28px;
}

.editor-shortcut {
    float: right;
    width: 28px;
    height: 28px;
    margin-left: 15px;
    cursor: pointer;
}

i.editor-shortcut {
    font-size: 24px;
}

#sampleimage {
    max-width:100%;
}

.sampleimage {
    position:relative;
    margin-bottom:30px;
}

.newsampleimage {
    font-weight: bold;
    padding-top: 10px;
}

img#changesampleimage {
    display:none;
}

.imgeditable:hover {
    background: rgb(238, 238, 238); /* fall-back for browsers that don't support rgba */
    background-color: rgba(238, 238, 238, 0.4);
}

.imgeditable:hover img#changesampleimage {
    display:block;
    cursor:pointer;
}

.imgeditable:hover a.zoombutton {
    display:block;
}

.imgeditable img#changesampleimage {
    position:absolute;
    top:25px;
    right:55px;
    width:36px;
    height:36px;
    display:none;
}

.imgcontainer {
    position:relative;
    display:inline-block;
}

.imgcontainer:hover a.zoombutton {
    display:block;
}

.imgcontainer a.zoombutton {
    position:absolute;
    top:8px;
    right:8px;
    color:black;
    font-size:14pt;
    background-color:#CCCCCC;
    padding:2px 2px 2px 5px;
    display:none;
}

div.sampledescription {
    margin-bottom:30px;
}

div.sampleshares {
    margin-bottom:30px;
}

.ckeditable {
    min-height:5em;
}

.actiondate {
    display:inline;
    font-size:large;
}

.unmarkasnews {
    color: #FF0000;
}

@media (min-width: 992px) {
    .actionicons {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .actionicons {
        float: right;
    }
}

.actionicon {
    cursor: pointer;
}

/* for all images, so that they do not overflow */
img, table {
    max-width:100%;
}

.editable {
    position:relative;
}

.editable:hover img.edittrigger {
    display:block;
}

.editable img.edittrigger:hover {
    cursor:pointer;
}

.editable:hover {
    background: rgb(238, 238, 238); /* fall-back for browsers that don't support rgba */
    background-color: rgba(238, 238, 238, 0.4);
}

.editable img.edittrigger {
    position:absolute;
    right:2px;
    top:0.2em;
    display:none;
    height:1em;
    max-height:25px;
}

.editabling img.edittrigger {
    display:none;
}

.ckeditabling {
  background-color: #FFEEEE !important;
}

.marker{
	background-color: Yellow;
}

#sharelist {
    display: block;
}

#sharelistcontainer {
    display: block;
}

#sharelistcontainer.collapse[aria-expanded="false"] {
    height: 50px !important;
    overflow: hidden;
}

#sharelistcontainer.collapsing[aria-expanded="false"] {
    height: 50px !important;
}

a#collapsebutton {
    margin-right: 10px;
}

a#collapsebutton.collapsed:after  {
    content: '+ show more';
}

a#collapsebutton:not(.collapsed):after {
    content: '- show less';
}

.sharelistentry {
    display: inline;
    float: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-right: 1em;
}

.sharelistbottom {
    clear: both;
}

.sharelistbuttons {
    padding-top: 10px;
    font-weight: bold;
}

form#newactionform label {
    display: none;
}

div.user:hover {
    background-color: #CCCCEE;
    cursor: pointer;
}

div.user > img {
    width: 48px;
    height: 48px;
}

.list-entry {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
}

div.news {
    background-color: #EEEEFF;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 1000px;
}

div.news > div.news-header-item {
    float: right;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div.news > div.news-title {
    float: left;
    padding-left: 0px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

div.news > div.news-title > i.glyphicon {
    color: #FF0000;
}

div.news > div.news-clear {
    clear: both;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 200px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
