.user {
    padding-left:45px;
    padding-top:10px;
    margin-bottom:10px;
    position:relative;
    min-height:48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user:hover {
    cursor:pointer;
    background-color: #CCCCEE;
}

.user > img {
    position:absolute;
    left:0px;
    top:0px;
    width: 40px;
    height: 40px;
}

#flashmessages {
    margin-top:10px;
}

.login-container {
    margin: auto;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    min-width: 300px;
    max-width: 700px;
}

@media (min-width: 768px) {
    .login-container {
        min-width: 700px;
    }
}