.sidebar {
    padding: 10px !important;  /* override padding set up in base.css */
    padding-top: 0 !important;
}

.navbar-shortcuts {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    height: 40px;
    z-index: 9999;
    background-color: #f5f5f5;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
    font-weight: bold;
}

.navbar-shortcuts > .left {
    float: left;
}

.navbar-shortcuts > .right {
    float: right;
}

.navbar-shortcuts .navbar-shortcut {
    cursor: pointer;
}

.navbar-shortcut.sort-active {
    background-color: #999999;
    border: 1px solid black;
}

.nav-heading {
    padding-bottom: 10px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.nav-entry, .inheritance {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-entry > .glyphicon {
    margin-right: 8px;
    width: 10px;
    height: 10px;
    float: left;
}

.nav-entry-archived {
    color: #999999;
}

.nav-entry:hover, .inheritance:hover {
    background-color: #CCCCEE !important;
}

.nav-entry-name {
    font-weight: bold;
}

.nav-entry-owner {
    font-style: italic;
    font-size: small;
    padding-left: 18px;
}

.nav-children {
    border-left: 1px dotted #666666;
    margin-left: 5px;
    padding-left: 5px;
}