.list-entry {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.list-entry:hover {
  background-color: #EEEEEE;
}

.list-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom-style: double;
  border-bottom-width: 2px;
}

.nav-entry {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  cursor: move;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.nav-entry:hover {
  background-color: #CCCCEE !important;
}

.nav-entry-name {
  font-weight: bold;
}

.nav-entry-type {
}
