{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='list.css')}}">
{% endblock %}

{% macro render_branch(parent, level=0) %}
  {% for s in samples %}
    {% if s.parent_id == parent %}
      <div class="nav-container" id="{{ s.id }}">
      <div class="row nav-entry"  data-toggle="collapse" data-target="#children{{ s.id }}" id="{{ s.id }}" draggable="true">
          <div class="nav-entry-name" id="navname{{ s.id }}">{{ s.name }}</div>
          <div class="nav-entry-type" id="navtype{{ s.id }}">{{ s.sampletype.name }}</div>
      </div>
      <div id="children{{ s.id }}" class="row-fluid collapse out" style="padding-left: 10px">
        {{ render_branch(s.id, level+1) }}
      </div>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% block sidebarnav %}
<div class="col-sm-3 col-md-2 sidebar">
  <div class="container-fluid">
    <div id="root">
    {{ render_branch(0) }}
    </div>
    <div class="row nav-entry" id="0" style="padding-left:10px"><a href="/newsample">+ New Sample</a></div>
  </div>
</div>
{% endblock %}

{% block page_content %}
<div id="editor-frame">
{% if sample is defined %}
    {% include 'editorframe.html' %}
{% else %}
    <h1>Welcome</h1>
{% endif %}
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
              <p>You are about to delete an item, this procedure is irreversible.</p>
              <p>Do you want to proceed?</p>
              <p class="debug-id"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="browser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Browser</h4>
            </div>
            <div class="modal-body">
              <div id="browser-frame">
              {% include 'browserframe.html' %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="childbrowser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Browser</h4>
            </div>
            <div class="modal-body">
              Select please:
                <div id="childbrowser-frame"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<script src="{{ url_for('static', filename='jquery.jeditable.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.generateId.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.jeditable.ckeditor.js') }}"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
  var ckeditorconfig = {
    toolbar:
    [
      ['Bold', 'Italic', 'Underline','Subscript','Superscript', 'Format', 'Styles', '-', 'NumberedList', 'BulletedList', 'HorizontalRule', '-', 'Link', 'Unlink', '-', 'Image', 'Table', 'SpecialChar', '-', 'Maximize'],
      ['UIColor']
    ]
  };

  function init_matrix_view() {
        $('#submit').click( function(event) {
          $.ajax({
            url: "/matrixview/"+$('#sampleid').text(),
            type: "post",
            data: $('#newmatrixform').serialize(),
            success: function( data ) {
              load_matrix_view($('#sampleid').text());
            }
          });
          event.preventDefault();
        });

      $('.matrixcell').dblclick( function( event ) {
        $('#childbrowser').data('target', $(this));
        $('#childbrowser').modal('show');

        event.preventDefault();
        });

    $('.childimage').dblclick( function( event ) {
      $('#childbrowser').data('target').find('img').attr('src', $(this).attr('src'));
      $('#childbrowser').data('target').find('p').html($(this).data('name'));

      $('#childbrowser').modal('hide');

      id = $(this).data('id');

      $('.matrixcell').each(function () {
        if($(this).find('img').attr('id') == id) {
          $(this).find('img').attr('id', '');
          $(this).find('img').attr('src', '');
          $(this).find('p').html('');
        }
      });

      $('#childbrowser').data('target').find('img').attr('id', id);

      $.ajax({
        url: "/setmatrixcoords/"+id,
        type: "post",
        data: { "mx": $('#childbrowser').data('target').data('mx'), "my": $('#childbrowser').data('target').data('my')},
        success: function( data ) {
        }
      });
      // here you have to tell the database what is going on -> AJAX

      event.preventDefault();
    });
  }
    function init_editables() {
      $('.editsamplename').editable('/changesamplename', {
      style: 'inherit',
      callback : function(value, settings) {
        var json = $.parseJSON(value);
        $( "#"+json.id+".editsamplename" ).html(json.name);
        $( "#navname"+json.id ).html(json.name);
        if(json.code != 0) {
          $( "#flashmessages" ).append("{{ begin_flashmsg|safe }}"+json.error+"{{ end_flashmsg|safe }}");
        }
      }
    });     
    $('.selectsampletype').editable('/changesampletype', {
      data   : "{ {% for sampletype in sampletypes %} {{ sampletype.id }}:'{{ sampletype.name }}', {% endfor %} }",
      style  : 'inherit',
      type   : 'select',
      submit : 'OK',
      callback : function(value, settings) {
        $( "#navtype"+$('#sampleid').text() ).html(value);
      }
    });
    $('.editactiondate').editable('/changeactiondate', {
      style: 'inherit',
      callback : function(value, settings) {
        var json = $.parseJSON(value);
        $( "#"+json.id ).html(json.date);
        if(json.code != 0) {
          $( "#flashmessages" ).append("{{ begin_flashmsg|safe }}"+json.error+"{{ end_flashmsg|safe }}");
        }
      }
    });
    $('.selectactiontype').editable('/changeactiontype', {
      data   : "{ {% for actiontype in actiontypes %} {{ actiontype.id }}:'{{ actiontype.name }}', {% endfor %} }",
      style  : 'inherit',
      type   : 'select',
      submit : 'OK'
    });
    $(".editactiondescription").editable('/changeactiondesc', { 
      type   : 'ckeditor',
      submit : 'OK',
      cancel : 'Cancel',
      onblur: "ignore",
      ckeditor : ckeditorconfig
    });
    
    $('#submit').click( function(event) {
      for ( instance in CKEDITOR.instances ) CKEDITOR.instances[instance].updateElement(); // otherwise content of editor is not transmitted
      $.ajax({
        url: "/newaction/"+$('#sampleid').text(),
        type: "post",
        data: $('#newactionform').serialize(),
        success: function( data ) {
          load_sample($('#sampleid').text());
        }
      });
      event.preventDefault();
    });
    
  }
  
  function load_sample(id) {
    $.ajax({
      url: "/sample/"+id,
      data: { "editorframe": true },
      success: function( data ) {
        $( "#editor-frame" ).html(data);
        init_editables();


          $('#matrixviewbutton').click(function() {
            load_matrix_view($('#sampleid').text());
              init_matrix_view();
          });

        CKEDITOR.replace( 'description', ckeditorconfig);
        // CAUTION! this solution might fill the RAM in the long term
        // (because we recreate callback functions and stuff everytime we open a different sample)
      }
    });
  }

  function load_matrix_view(id) {
      $.ajax({
         url: "/matrixview/"+id,
          success: function( data ) {
              $("#editor-frame").html(data);
                $.ajax({
                    url: "/childbrowser/"+$("#sampleid").text(),
                    success: function(data) {
                        $("#childbrowser-frame").html(data);
                        init_matrix_view();
                    }
                });
          }
      });
  }

  $.event.props.push('dataTransfer');   // otherwise jQuery event does not have function dataTransfer

  $(document).ready(function() {
    $('.nav-entry').dblclick( function( event ) {
      load_sample($(this).attr('id'));
      event.preventDefault();
    });
  
    {% if sample is defined %}
    init_editables();
    CKEDITOR.replace( 'description', ckeditorconfig);
    {% endif %}
    
    $('.nav-entry').on({
      dragstart: function(event) {
        event.dataTransfer.setData('text', event.target.id);
      },
      dragenter: function(event) {
        event.preventDefault();
      },
      dragover: function(event) {
        $(this).css("background-color", "#BBBBFF");
        event.preventDefault();
      },
      dragleave: function(event) {
        $(this).css("background-color", "transparent");
      },
      drop: function(event) {
        var draggedId = event.dataTransfer.getData('text');
        var parentId = $(this).attr('id');
        if(draggedId == parentId) return;
        event.preventDefault();
        $.ajax({
          url: "/changeparent",
          type: "post",
          data: { "id": draggedId, "parent": parentId },
          success: function( data ) {
            if(data == "") {
              var draggedItem = $( "#"+draggedId+".nav-container" );
              if(parentId != 0) {
                draggedItem.appendTo("#children"+parentId);
              } else {
                draggedItem.appendTo("#root");
              }
            }
            else {
              $( "#flashmessages" ).append("{{ begin_flashmsg|safe }}"+data+"{{ end_flashmsg|safe }}");
            }
          }
        }); // what if we drag parent to child?
        $(this).css("background-color", "transparent");
      }
    });

    $('#confirm-delete').on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('id', $(e.relatedTarget).data('id'));
      $(this).find('.btn-ok').data('type', $(e.relatedTarget).data('type'));
      $('.debug-id').html('Delete <strong>'+$(e.relatedTarget).data('type')+'</strong> ID: <strong>' + $(this).find('.btn-ok').attr('id') + '</strong>');
    });
    
    $('#browser').on('show.bs.modal', function(e) {
      function load_address(address) {
        $.ajax({
          url: "/browser"+address,
          success: function( data ) {
            $( "#browser-frame" ).html(data);
            init_browser();
            // CAUTION! this solution might fill the RAM in the long term
            // (because we recreate callback functions and stuff everytime we open a different folder)
          }
        });
      }
    
      function init_browser() {
        $('.folder').dblclick( function( event ) {
          load_address("/"+$(this).data('url'));
          event.preventDefault();
        });
        
        $('.file').dblclick( function( event ) {
          $('#sampleimage').attr("src", $(this).attr("src"));
          
          $.ajax({
            url: "/changesampleimage",
            type: "post",
            data: { "id": $('#sampleid').text(), "value": $(this).attr("src") }
          });
          
          $('#browser').modal('hide');
        });
      }
      
      load_address("");
      init_browser();
    });

    $('.btn-ok').click( function(event) {
      var type = $(this).data('type');
      var id = $(this).attr('id');
      $.ajax({
        url: "/del"+type+"/"+id,
        success: function( data ) {
          if(type=="sample")
            location.href = "/";
          if(type=="action")
            $('#'+id+'.list-entry').remove();
          $('#confirm-delete').modal('hide');
        }
      });
    });
  });
});
</script>
{% endblock %}


