{% extends "bootstrap/base.html" %}

{% block title %}Mercury Sample Manager{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='autocomplete-bootstrap.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mercury Sample Manager</a>
        <div class="navbar-brand">{% if current_user.is_authenticated %}| {{ current_user.username }}{% endif %}</div> <!-- TODO: make this look better -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <li><a href="/print">Print</a></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.is_admin %}
            <li><a href="/settings/overview">Settings</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="/profile/overview">Profile</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
        {% endif %}
        <li><a href="/help">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control searchfield" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
{% endblock %}

{% set begin_flashmsg = "<div class='alert alert-warning col-sm-9 col-md-10'><button type='button' class='close' data-dismiss='alert'>&times;</button>" %}
{% set end_flashmsg = "</div>" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% block sidebarnav %}{% endblock %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="container" id="flashmessages">
        {% for message in get_flashed_messages() %}
        {{ begin_flashmsg|safe }}
        {{ message }}
        {{ end_flashmsg|safe }}
        {% endfor %}
      </div>
    {% block page_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script>
        (function($) {
            $( ".searchfield" ).autocomplete({
              source: function(request, response) {
                  $.getJSON("/search", {
                      term: request.term, // in flask, "term" will be the argument to look for using request.args
                  }, function (data) {
                      response(data.results); // results from jsonify
                  });
              },
              select: function( event, ui ) {
                  event.preventDefault();
                  $(this).val(ui.item.label);
                  location.href="/sample/"+ui.item.value;
              },
              focus: function(event, ui) {
                  event.preventDefault();
                  $(this).val(ui.item.label);
              }
            });
        })(jQuery);
    </script>
{% endblock %}
