{% extends "bootstrap/base.html" %}

{% block title %}Browser{% endblock %}

{% block content %}
<div id="browser-frame">
    <div>
        <form method="post" style="margin:0;padding:0;" action="/browser/upload?sample={{ sample.id }}&CKEditorFuncNum={{ callback }}" enctype="multipart/form-data">
            <img class="upload" src="/static/upload.png" width="100px" height="100px">
            Upload an image:<input style="display:inline;" type="file" name="file" id="file">
            <input style="display:inline;" type="submit" value="OK">
        </form>
    </div>
  {% include 'browserframe.html' %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8">
    $(function() {
        $(document).ready(function() {
            function load_address(address) {
                location.href = "/browser"+address+"?sample="+{{ sample.id }}+"&CKEditorFuncNum="+{{ callback }};
            }

            function init_browser() {
                {% if uploadurl is defined %}
                    window.opener.CKEDITOR.tools.callFunction({{ callback }},"{{ uploadurl }}")
                    window.close();
                {% endif %}

                $('.folder').dblclick( function( event ) {
                    load_address("/"+$(this).data('url'));
                    event.preventDefault();
                });

                $('.file').dblclick( function( event ) {
                    window.opener.CKEDITOR.tools.callFunction({{ callback }},$(this).attr("src"));
                    window.close();
                });
            }

            init_browser();         // TODO: is this line necessary? (see load_address)
        });
    });
    </script>
{% endblock %}
