<div id="address"><strong>Path: </strong>{{ address }}</div>

{% if notconnected %}
    Could not connect to resource
{% endif %}

{% for resource in resources %}
    <div>
    <img src="{{ url_for('static', filename='resource.png') }}" {% if resource.available %}class="folder"{% endif %} data-url="{{ resource.name }}" width="100px" height="100px">
    {{ resource.name }}
    {% if resource.hasuserfolder %}
        <img src="{{ url_for('static', filename='user.png') }}" class="folder" data-url="{{ resource.name+"/"+sample.owner.username }}" width="100px" height="100px">
    {% endif %}
    {% if resource.hassamplefolder %}
        <img src="{{ url_for('static', filename='sample.png') }}" class="folder" data-url="{{ resource.name+"/"+sample.owner.username+"/"+sample.name }}" width="100px" height="100px">
        <!-- TODO: what if sample, resource or user name contains space? -->
    {% endif %}
    </div>
{% endfor %}
{% for folder in folders %}
    <div>
    <img src="{{ folder.image }}" class="folder" data-url="{{ address }}{% if address!='' %}/{% endif %}{{ folder.name }}{{ folder.ext }}" width="100px" height="100px">
    {{ folder.name }}{{ folder.ext }}
    </div>
{% endfor %}
{% for file in files %}
    <div>
    <img class="file" src="{{ file.image }}" width="100px" height="100px">
    {{ file.name }}{{ file.ext }}
    </div>
{% endfor %}