{% import "bootstrap/wtf.html" as wtf %}

<div id="sampleid" style="display: none">{{ sample.id }}</div>
<h1 class="page-header">
    Sample <div class="{% if sample.owner == current_user %}editable{% endif %}" style="display:inline;font-weight:bold;"><div id="{{ sample.id }}" class="editsamplename" style="display:inline;">{{ sample.name }}</div></div>
    | Type: <div class="{% if sample.owner == current_user %}editable{% endif %}" style="display:inline;font-weight:bold;"><div id="{{ sample.id }}" class="selectsampletype" style="display:inline">{{ sample.sampletype.name }}</div></div>
    {% if sample.owner == current_user %}<img title="Delete sample" style="cursor: pointer; float: right; margin-right: 15px;" width="32" height="32" src="{{ url_for('static', filename='delete.png') }}" data-href="/delsample/{{ sample.id }}" data-type="sample" data-id="{{ sample.id }}" data-toggle="modal" data-target="#confirm-delete">{% endif %}
    {% if sample.owner == current_user %}<img title="{% if sample.isarchived %}De-archive{% else %}Archive{% endif %}" style="cursor: pointer; float: right; margin-right: 10px;" id="archive" width="32" height="32" src="{% if sample.isarchived %}{{ url_for('static', filename='dearchive.png') }}{% else %}{{ url_for('static', filename='archive.png') }}{% endif %}">{% endif %}
    <img title="Switch to matrix view" style="cursor: pointer; float: right; margin-right: 10px;" id="matrixviewbutton" width="32" height="32" src="{{ url_for('static', filename='matrixview.png') }}">
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 sampleimage">
            <img id="sampleimage" src="{% if sample.image == None %}{{ url_for('static', filename='sample.png') }}{% else %}{{ sample.image }}{% endif %}">
            {% if sample.owner == current_user %}<img id="changesampleimage" src="{{ url_for('static', filename='insertimage.png') }}">{% endif %}
        </div>
        <div class="col-md-5">
            <strong>Sample description:</strong>
            <div class="{% if sample.owner == current_user %}editable{% endif %}"><div id="{{ sample.id }}" class="editsampledescription">{{ sample.description|safe }}</div></div>
        </div>
        <div class="col-md-3">
            <strong>Shared with:</strong>
            <div class="container-fluid" id="sharelist">
                {% for share in shares %}
                    <div class="row sharelistentry" id="sharelistentry{{ share.id }}">
                        {{ share.user.username }}
                            {% if sample.owner == current_user or share.user == current_user %}
                                <img style="cursor: pointer; float: left; display: inline;" width="32" height="32" src="{{ url_for('static', filename='delete.png') }}" data-type="share" data-id="{{ share.id }}" data-toggle="modal" data-target="#confirm-delete">
                            {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if sample.owner == current_user %}<button class="btn btn-default" data-toggle="modal" data-target="#userbrowser">Add share</button>{% endif %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row list-header">
        <div class="col-md-2">Date</div>
        <div class="col-md-8">Description</div>
        <div class="col-md-2"><a class="btn btn-default" id="hideparentactions" style="background: #F0FFF0; float: right;">{% if not hideparentactions %}Hide{% else %}Show{% endif %} parent actions</a></div>
    </div>
    {% for i in range(actions|length)%}
    {% set action=actions[i] %}
    <div class="row list-entry {% if action.sample != sample %}parentaction{% endif %}" id="{{ action.id }}" {% if action.sample != sample %}style="background: #F0FFF0;"{% endif %}>
        <div class="col-md-2">
            <div class="{% if action.owner == current_user %}editable{% endif %}"><div id="{{ action.id }}" class="editactiondate" style="display:inline;">{{ action.timestamp }}</div></div>
            {% if action.owner != current_user %}<div style="font-style: italic">{{ action.owner.username }}</div>{% endif %}
            <div class="{% if action.owner == current_user %}editable{% endif %}"><div id="{{ action.id }}" class="selectactiontype" style="display: inline">{{ action.actiontype.name }}</div></div>
            {% if action.sample != sample %}<div style="font-style: italic;">{{ action.sample.name }}</div>{% endif %}
        </div>
        <div class="col-md-8 {% if action.owner == current_user %}editable{% endif %}"><div id="{{ action.id }}" class="editactiondescription">{{ action.description|safe }}</div></div>
        <div class="col-md-2">
            {% if action.owner == current_user %}
                <img style="cursor: pointer; float: right; display: inline;" width="32" height="32" src="{{ url_for('static', filename='delete.png') }}" data-type="action" data-id="{{ action.id }}" data-toggle="modal" data-target="#confirm-delete">
                {% if not i == 0 %} {# can  be moved up #}
                    <img style="cursor: pointer; float: right; display: inline;" src="{{ url_for('static', filename='up.png') }}" class="swapaction" data-id="{{ action.id }}" data-swapid="{{ actions[i-1].id }}">
                {% endif %}
                {% if not (i+1) == actions|length %} {# can  be moved down #}
                    <img style="cursor: pointer; float: right; display: inline;" src="{{ url_for('static', filename='down.png') }}" class="swapaction" data-id="{{ action.id }}" data-swapid="{{ actions[i+1].id }}">
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="row list-entry">
        <form id="newactionform">
            {{ form.hidden_tag() }}
            <div class="col-md-2">
                {{ wtf.form_field(form.timestamp) }}
                {{ wtf.form_field(form.actiontype) }}
            </div>
            <div class="col-md-8">{{ wtf.form_field(form.description) }}</div>
            <div class="col-md-2">{{ wtf.form_field(form.submit) }}</div>
        </form>
    </div>
</div>

