{% import "bootstrap/wtf.html" as wtf %}

<div id="sampleid" style="display: none">{{ sample.id }}</div>
<h1 class="page-header">
    Actions: Sample <b id="{{ sample.id }}" class="{% if sample.owner == current_user %}editsamplename{% endif %}" style="display: inline">{{ sample.name }}</b> | Type: <b id="{{ sample.id }}" class="{% if sample.owner == current_user %}selectsampletype{% endif %}" style="display: inline">{{ sample.sampletype.name }}</b>
    {% if sample.owner == current_user %}<button class="btn btn-default" data-href="/delsample/{{ sample.id }}" style="margin-left:5em" data-type="sample" data-id="{{ sample.id }}" data-toggle="modal" data-target="#confirm-delete">Delete</button>{% endif %}
    {% if sample.owner == current_user %}<button class="btn btn-default" id="archive">{% if sample.isarchived %}De-archive{% else %}Archive{% endif %}</button>{% endif %}
    <button class="btn btn-default" id="matrixviewbutton">Matrix View</button>
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <img id="sampleimage" src="{% if sample.image == None %}{{ url_for('static', filename='sample.png') }}{% else %}{{ sample.image }}{% endif %}" width="100%">{% if sample.owner == current_user %}<button id="browser" class="btn btn-default">Browse</button>{% endif %}
        </div>
        <div class="col-md-6">
            <strong>Sample description:</strong>
            <div id="{{ sample.id }}" class="{% if sample.owner == current_user %}editsampledescription {% endif %}">{{ sample.description|safe }}</div>
        </div>
        <div class="col-md-3">
            <strong>Shared with:</strong><p>&nbsp;</p>
            <div class="container-fluid" id="sharelist">
                {% for share in shares %}
                    <div class="row" id="sharelistentry{{ share.id }}">
                        <div class="col-md-10">{{ share.user.username }}</div><div class="col-md-2">{% if sample.owner == current_user or share.user == current_user %}<img style="cursor: pointer; float: left; display: inline;" width="32" height="32" src="{{ url_for('static', filename='delete.png') }}" data-type="share" data-id="{{ share.id }}" data-toggle="modal" data-target="#confirm-delete">{% endif %}</div>
                    </div>
                {% endfor %}
            </div><p>&nbsp;</p>
            {% if sample.owner == current_user %}<button class="btn btn-default" data-toggle="modal" data-target="#userbrowser">Add share</button>{% endif %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row list-header">
        <div class="col-md-2">Date</div>
        <div class="col-md-10">Description</div>
    </div>
    {% for i in range(actions|length) %}
    {% set action=actions[i] %}
    <div class="row list-entry" id="{{ action.id }}">
        <div class="col-md-2">
            <div id="{{ action.id }}" class="{% if action.owner == current_user %}editactiondate{% endif %}">{{ action.timestamp }}</div>
            <div id="{{ action.id }}" style="font-style: italic">{{ action.owner.username }}</div>
            <div id="{{ action.id }}" class="{% if action.owner == current_user %}selectactiontype{% endif %}" style="display: inline">{{ action.actiontype.name }}</div>
        </div>
        <div id="{{ action.id }}" class="col-md-8 actiondescription {% if action.owner == current_user %}editactiondescription {% endif %}">{{ action.description|safe }}</div>
        <div class="col-md-2">
            {% if action.owner == current_user %}
                <img style="cursor: pointer; float: left; display: inline;" width="32" height="32" src="{{ url_for('static', filename='delete.png') }}" data-type="action" data-id="{{ action.id }}" data-toggle="modal" data-target="#confirm-delete">
                {% if not i == 0 %} {# can  be moved up #}
                    <img style="cursor: pointer; float: left; display: inline;" src="{{ url_for('static', filename='up.png') }}" class="swapaction" data-id="{{ action.id }}" data-swapid="{{ actions[i-1].id }}">
                {% endif %}
                {% if not (i+1) == actions|length %} {# can  be moved down #}
                    <img style="cursor: pointer; float: left; display: inline;" src="{{ url_for('static', filename='down.png') }}" class="swapaction" data-id="{{ action.id }}" data-swapid="{{ actions[i+1].id }}">
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="row list-entry">
        <form id="newactionform">
            {{ form.hidden_tag() }}
            <div class="col-md-2">
                {{ wtf.form_field(form.timestamp) }}
                {{ wtf.form_field(form.actiontype) }}
            </div>
            <div class="col-md-8">{{ wtf.form_field(form.description) }}</div>
            <div class="col-md-2">{{ wtf.form_field(form.submit) }}</div>
        </form>
    </div>
</div>

