{% extends "base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="/static/css/bootstrap-toc.min.css">
    <style>
        /* see https://tscanlin.github.io/tocbot/ */
        h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
            display: block;
            content: " ";
            height: 60px;
            margin-top: -60px;
            visibility: hidden;
        }
        p {
            text-align:justify;
        }
    </style>
{% endblock %}

{% block sidebarnav %}
<div id="sidebar" class="col-sm-3 col-md-2 sidebar">
    <nav id="toc" data-toggle="toc"></nav>
</div>
{% endblock %}

{% block page_content %}
<div style="max-width: 800px;">
    <h2>Introduction</h2>
    <p>Racine is a sample management tool that enables researchers to keep track of their samples from any PC in a laboratory.
    The programme is a Flask-based web service that runs on a central server in the local network of your research institute and that can be
    accessed from all other computers on the same network using the normal web browser (should be a recent browser though).</p>
    <p><i>Samples</i> can be organised hierarchically similar to files and folders on you computer. There is however no distinction between
    a "file" and a "folder", any sample can contain other samples as well as the so-called <i>actions</i>. Samples can be shared with other
    users, enabling them to add actions. However, no user can modify the actions added by another user.</p>

    <h2>Administrators</h2>
    <p>Your administrators are:
    {% for admin in admins %}
    <br><a href="mailto:{{ admin.email }}">{{ admin.email }}</a>
    {% endfor %}
    </p>

    <h2>The header</h2>
    <p>The header contains a search bar and some icons. If you type a keyword in the search bar and press enter, a list of samples containing
    the keyword in their sample name will be displayed. You can also select a search result from the dropdown menu and go directly to the
    corresponding sample. In the case of shared samples, the sample owner is displayed after the <i class="glyphicon glyphicon-user"></i>-icon
    and if the sample is not on the top level, the parent sample is displayed after the <i class="glyphicon glyphicon-level-up"></i>-icon. The
    dropdown list is limited to five search results.</p>
    <p>The <i class="glyphicon glyphicon-print"></i>-icon in the header bar leads to the <a href="#printing">print</a>-page, the
    <i class="glyphicon glyphicon-user"></i>-icon leads to your <a href="#modifying-your-profile">profile</a>-page, the
    <i class="glyphicon glyphicon-log-out"></i>-icon logs you out of the system and the <i class="glyphicon glyphicon-question-sign"></i>-icon
    leads to this help page.</p>

    <h2>The navigation bar</h2>
    <p>The navigation bar on the left contains all your samples and the samples that other users shared with you. By double-clicking on a sample,
    you can load it into the editor. If you hold the CTRL key while double-clicking, the sample is opened in a new tab/window.
    By dragging a sample on another sample, you can define your hierarchy. When a sample contains other
    samples, a little arrow appears next to it. By clicking once on these samples, you can expand/collapse the underlying tree.</p>
    <p>You can move a sample back to the top level of the tree by dragging it slightly to the left until the background of the navigation bar
    is highlighted.</p>
    <p>You can create a link to a sample by dragging it into a text editor.</p>
    <p>New samples can be created by clicking on the blue plus-symbol at the top left of the navigation bar. This opens a dialog where you can
    choose a name, a parent (i.e. another sample underneath which the new one will appear in the hierarchy) and a description for your sample.</p>
    <p>There are a couple of other symbols at the top of the navigation bar: Using the eye-symbol, you can switch on/off the display of
    archived samples. The other three symbols are for sorting the samples by name, by ID, or by the last modification. The currently active
    sorting mechanism is highlighted in dark grey.</p>
    <img src="/static/help/navigation.png">

    <h2>The welcome page</h2>
    The welcome page shows you information about the available disk space on the server and about recent activity
    (samples that you have added actions to in the last seven days). You can click on the sample name to quickly
    continue working where you left off.

    <h2>The editor</h2>
    <p>At the top of the editor window you see the sample name, image, description and shares. The name and the description can be edited by
    double-clicking on the corresponding field or by hovering with the mouse over the field and clicking on the edit button at the top right.
    A sample image can be added by clicking on the corresponding button. It can either be uploaded from your PC or it can be taken from a
    file server. You can see and modify shares in the "Shared with" field.</p>
    <p>Next to the sample name, at the top right of the editor window, there are buttons to archive or delete the sample. If you archive a sample,
    it disappears from your navigation bar, unless you explicitly activate the display of archived samples (see above). There is also a button
    to locate your sample in the navigation bar on the left (the <i class="glyphicon glyphicon-search"></i>-icon). The
    <i class="glyphicon glyphicon-arrow-down"></i>-button scrolls to the bottom of the page. If your sample has
    a parent sample in the hierarchy, you can display the actions of the parent sample by clicking on the "eye"-symbol on the top right.
    If you want to invert the order of the actions (oldest to newest or vice versa), you can do this by clicking on the
    <i class="glyphicon glyphicon-resize-vertical"></i>-icon.</p>
    <p>New actions can be added using the form at the bottom of the page. The procedure for modifying existing actions is illustrated in the
    figure below.</p>
    <p>Images can be magnified by clicking on them. The image viewer also enables you to navigate through all
    images on the page by clicking on the arrows or using left left/right arrow keys on your keyboard.</p>
    <p>When editing actions, images can be rotated by right-clicking on the image and choosing the appropriate "Rotate" option in the 
    context menu. Note that vector graphics (SVG) cannot be rotated by Racine, only BMP, PNG, TIFF, JPEG.</p>
    <img src="/static/help/editor.png">

    <h2>Image compression</h2>
    <p>When you upload an image to the server, it is automatically scaled to a maximum lateral size of 800 pixels and
    converted to the JPEG format. When you open a sample in the editor, all images are shown in this format. However,
    the original image is also stored on the server and can be retrieved either by clicking on the image, in which
    case the image viewer will be opened (see above) with the original image, or by clicking on the
    <i class="glyphicon glyphicon-hd-video"></i>-icon that appears on the top right of the image when your mouse hovers
    over it, in which case the original image will be opened in a new window or tab.</p>

    <h2>Sharing samples</h2>
    <p>There are two types of shares: <i>direct</i> and <i>indirect shares</i>. Direct shares can be defined by adding the corresponding user to the
    share list on the upper right of the editor window. These direct shares will appear on the top level of that user's navigation bar. The other user
    can move the direct share to another location in his hierarchy, without affecting its location in the owner's hierarchy. This is called <i>
    mounting.</i> If a shared sample contains other samples, these are <i>indirectly</i> shared with the other user. This is indicated by a little
    lock next to the owner's name in the other user's navigation bar. These indirect shares cannot be mounted in a different location.</p>
    <img src="/static/help/sharing.png">

    <h2>Collaborative samples</h2>
    <p>A sample can be marked as "collaborative" by clicking on the <img src="/static/images/collaborative.png" width="16" height="16">-button
    at the top of the editor. This enables the users that share this sample to edit all actions, even the ones that are not their own. However,
    you should take into account the following limitations of this functionality:
    <ul>
        <li>On the collaborative samples, only the actions can be modified by the collaborating users, not the sample description or its name.</li>
        <li>Even if an action is modified by a collaborating user, the name of the original owner of the action will still appear next to it.</li>
        <li><b>Collaborative samples have to be used carefully:</b> At the beginning of the modification of an action, the current version of the
        action is loaded from the database. At the end, the modified version is stored to the database. This also applies when two users
        simultaneously edit an action. Only the latest version (i.e. of the user who last clicks "Save") will be stored.</li>
    </ul>
    </p>

    <h2>Marking actions as news</h2>
    <p>An action can be marked as news by clicking on the flag next to the action:</p>
    <img src="/static/help/news.png">
    <p>When you click on the flag, a dialog will appear, prompting you to enter a title and an expiry date for the news. Once the news is
    submitted, it will appear on the welcome page of all users who share the sample. If the sample shares are modified, the news will
    be re-dispatched accordingly. Once the expiration date is reached, the news will be discarded automatically.</p>
    <p>Note that only the user who has initially marked an action as news can remove this flag from the action. Otherwise, the news will
    only disappear once it expires.</p>

    <h2>Using LaTeX</h2>
    <p>You can use LaTeX to typeset mathematical expressions in the sample description and in the actions. You can use \(...\) for in-line math,
    and \[...\] for displayed equations. The software also recognizes the TeX delimiters $$...$$ for displayed equations. The type-setting
    happens automatically once you save a modified action or description.</p>
    <img src="/static/help/latex.png">

    <h2>Attaching files</h2>
    <p>By dragging and dropping files into a description or action field, it is automatically uploaded to the sample manager and stored on 
    the server. It can be downloaded by simply clicking on the link after the description/action is saved. If the uploaded file is an image,
    it will not be saved as an attachment, but it will be directly displayed in the editor. If you get an error message "HTTP 413", that means
    that the uploaded file is too large. The maximum file size is determined by the administrator.</p>
    <img src="/static/help/attachment.png">

    <h2>Using file servers</h2>
    <p>The sample manager can help you to find images (for example from a microscope) on SMB file servers. The connection to the file servers has
    to be set up by the <a href="#administrators">administrators</a>. In order to access the file servers, click on the "file browser" icon in the
    editor (step 1 the figure below). A dialog will pop up and show you the different available network resources. By clicking on the "network"-icon
    on the left, you can access the resource directly. If the sample manager finds a folder corresponding to the sample owner's user name on the server,
    a "user"-icon is shown which leads you directly to the user folder. If the user folder has a subfolder corresponding to the name of the sample,
    a "sample"-icon is shown which leads you directly to the sample folder (see step 2). Once you've opened a folder using one of these methods,
    you arrive at the file browser (step 3). By clicking on an image, you can import it into the editor window. Non-image files are added as an attachment
    (see <a href="#attaching-files">Attaching files</a>). Files that are imported this way are stored on the sample manager server, so they stay available
    even if they are deleted or moved from the file servers.</p>
    <img src="/static/help/browser.png?version=20191201">
    <p>When you save a file from a network resource, its folder will be added to your "previous locations" list (see step 2). You can import multiple images
    and attachments simultaneously if you activate the corresponding switch on the top right of the dialog. In this case you can select/deselect files
    by clicking on them and then import all of them by clicking the "Save" button.</p>
    <p>Note that the file browser is also accessible from the image dialog of the editor: When you add a new image using the
    <img src="/static/images/spacer.png" style="width:16px;height:16px;background:url(/static/ckeditor/skins/moono-lisa/icons_hidpi.png) 0 -360px;background-size:16px 1104px;">-icon,
    you can open the file browser from the image dialog by clicking on "Browse server". The same button appears in the link dialog when you add a link using the
    <img src="/static/images/spacer.png" style="width:16px;height:16px;background:url(/static/ckeditor/skins/moono-lisa/icons_hidpi.png) 0 -1056px;background-size:16px 1104px;">-icon.
    </p>

    <h2>Printing</h2>
    <p>By clicking on the <i class="glyphicon glyphicon-print"></i>-icon in the header bar, you get to the printing page, where you can print all
    actions added in a specific time window or to a specific sample. If you want to define a time window, simply fill in the <i>From</i>- and
    <i>To</i>-fields using the popup calender or by typing the date in the following format: YYYY-MM-DD. If you want to restrict the printing
    to a specific sample, you can select it in the corresponding field. You need to explicitly select the sample from the dropdown menu, so that
    a green tick appears next to the field. By clicking on <i>Submit</i>, you load the requested data into the print page. You can print this page
    by clicking on <i>Print</i>.</p>
    <p>By default, the user names associated with each action are displayed next to the action date. If you wish to disable this, you can activate
    the checkbox <i>Hide user names</i>. In order to save space and ink, you can reduce the image sizes using the corresponding drop down menu.</p>

    <h2>Modifying your profile</h2>
    <p>In order to modify your profile, click on the <i class="glyphicon glyphicon-user"></i>-icon in the header menu.</p>
    
    <h3>Changing your details</h3>
    <p>By selecting the "Change my details" entry in the menu on the left, you can change your user name or associated email address. You need
    to confirm these changes by typing your current password in the corresponding field. Your password can be changed by selecting "Change
    my password".</p>

    <h3>Leaving the lab</h3>
    <p>The "Leave" menu entry leads to a page where you can designate someone who will "inherit" all your data once you leave the laboratory.
    You will still be able to log in after leaving. The designated user will see your name at the bottom of his navigation bar. By double-clicking
    on your name, the other user can access all of your samples.</p>
    <img src="/static/help/leaving.png?version=20191203">

{% if current_user.is_admin %}
    <h2>Modifying the settings</h2>
    <p>In order to access the settings page, click on the <i class="glyphicon glyphicon-wrench"></i>-symbol on the upper right.</p>

    <h3>Set up email</h3>
    <p>In order to enable users to reset their password via email, the administrator has to set up an email account on the corresponding settings
    page ("Email" menu item in the settings menu).</p>

    <h3>Managing users</h3>
    <p>In order to manage users, select the "Users" menu item
    in the settings menu. New users can be added using the form at the bottom of the page. Existing users can be deleted by clicking on the
    <i class="glyphicon glyphicon-trash"></i>-symbol in the corresponding row. The administrators can log in as any user by clicking on the
    corresponding <i class="glyphicon glyphicon-log-in"></i>-icon. User names, email addresses and the admin "flag" can be edited by double-
    clicking on the respective fields or by clicking on the edit button that appears when hovering over the fields.</p>

    <h3>Managing file servers</h3>
    <p>In order to manage file servers, select the "SMB Resources"
    menu item in the settings menu. New file servers can be added by filling in the fields at the bottom of the table and clicking on the "+" button.
    Existing resources can be modified or deleted as described above for the user table.</p>
    <p>The <i>Name</i>-field defines how the resource will be called within the sample manager. The <i>Server name</i>- and <i>Server address</i>-
    fields typically contain the same value (the network location of the SMB server). The <i>Share name</i>-field defines the name of the
    network share to be accessed on the SMB server and in the <i>Path</i>-field you can optionally define a subfolder.</p>

    <h3>Other settings pages</h3>
    <p>The "Log" page gives you access to the server's log file for debugging.</p>
    <p>The "Uploads" page provides information about lost, empty, unused and duplicate uploads. It can take a long time to load, since a lot
    of database and filesystem operations are required to collect this data.</p>

{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='racine.js', version='20230402') }}"></script>
    <script>
        R.init("{{ api_token }}", "help");        
    </script>
{% endblock %}