{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='lightbox2-master/src/css/lightbox.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css', version='20191215')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='editor.css', version='20210420')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.min.css')}}"> {# for the date picker #}
{% endblock %}

{% block sidebarnav %}
<div id="sidebar" class="col-sm-3 col-md-2 sidebar">
</div>
{% endblock %}

{% block page_content %}
<div id="editor-frame">
</div>

{{ begin_modal_dialog('userbrowser', 'Select a user') }}
<div class="modal-body">
    <div>Select a user you want to share this sample with:<br>&nbsp;</div>
    <div class="form-group input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" id="username" class="form-control" placeholder="username">
    </div>
    <div id="recent-collaborators"></div>
</div>
<div class="modal-footer">
    <button id="userbrowserok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
{{ end_modal_dialog() }}

{{ begin_modal_dialog('newsample', 'New sample', 'modal-lg') }}
<div class="modal-body">
    <form id="newsampleform">
        {{ newsampleform.hidden_tag() }}  {# also contains newsampleform.newsampleparentid #}
        {{ wtf.form_field(newsampleform.newsamplename) }}
        {{ wtf.form_field(newsampleform.newsampleparent) }}
        {{ wtf.form_field(newsampleform.newsampledescription) }}
    </form>
</div>
<div class="modal-footer">
    <button id="newsamplesubmit" type="button" class="btn btn-primary">Submit</button>
    <button id="newsampleclear" type="button" class="btn btn-default">Clear</button>
</div>
{{ end_modal_dialog() }}

{{ begin_modal_dialog('dlg_markasnews', 'Mark as news', 'modal-lg') }}
<div class="modal-body">
    <p>
        Mark this action as news to all users who share this sample.
    </p>
    <form id="dlg_markasnews_form">
        {{ wtf.quick_form(dlg_markasnews_form) }}
    </form>
</div>
<div class="modal-footer">
    <button id="dlg_markasnews_submit" type="button" class="btn btn-primary">Submit</button>
</div>
{{ end_modal_dialog() }}

{% endblock %}

{% block scripts %}
{{ super() }}
    <script>// because Jinja does not work in the JS files
        var api_token = "{{ api_token }}";
        {% if sample is not none %}
            var sample_id = {{ sample.id }};
        {% endif %}
        {% if term %}
            var term = "{{ term }}";
        {% endif %}
        var begin_flashmsg = "{{ begin_flashmsg|safe }}";
        var end_flashmsg = "{{ end_flashmsg|safe }}";
    </script>
    <script type="text/x-mathjax-config">
        // tell MathJax to align left even if it's not loaded yet
        // this _has_ to be executed before MathJax is loaded (that's why it's not in editor.js anymore)
        MathJax.Hub.Config({
            displayAlign: "left"
        });
    </script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>window.MathJax || document.write('<script async src="{{ url_for('static', filename='mathjax/MathJax.js') }}?config=TeX-MML-AM_CHTML">\x3C/script>')</script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.jeditable.js') }}"></script>
    <script src="{{ url_for('static', filename='editorhelpers.js', version='20200831') }}"></script>
    <script src="{{ url_for('static', filename='ckeditable.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script> {# for the date picker #}
    <script src="{{ url_for('static', filename='editor.js', version='20210406') }}"></script>
    <script src="{{ url_for('static', filename='navbar.js', version='20191215') }}"></script>
    <script src="{{ url_for('static', filename='lightbox2-master/src/js/lightbox.js') }}"></script>
{% endblock %}


