{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='lightbox2-master/src/css/lightbox.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='editor.css', version='20191209')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.min.css')}}"> {# for the date picker #}
{% endblock %}

{% block sidebarnav %}
<div id="sidebar" class="col-sm-3 col-md-2 sidebar">
</div>
{% endblock %}

{% block page_content %}
<div id="editor-frame">
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>// because Jinja does not work in the JS files
        {% if sample is not none %}
            var sample_id = {{ sample.id }};
        {% endif %}
        {% if term %}
            var term = "{{ term }}";
        {% endif %}
        var csrf_token = "{{ newsampleform.csrf_token.current_token }}";
        var begin_flashmsg = "{{ begin_flashmsg|safe }}";       // TODO: check where this is still used and remove
        var end_flashmsg = "{{ end_flashmsg|safe }}";
    </script>
    <script type="text/x-mathjax-config">
        // tell MathJax to align left even if it's not loaded yet
        // this _has_ to be executed before MathJax is loaded (that's why it's not in editor.js anymore)
        MathJax.Hub.Config({
            displayAlign: "left"
        });
    </script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>window.MathJax || document.write('<script async src="{{ url_for('static', filename='mathjax/MathJax.js') }}?config=TeX-MML-AM_CHTML">\x3C/script>')</script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.jeditable.js') }}"></script>
    <script src="{{ url_for('static', filename='editorhelpers.js') }}"></script>
    <script src="{{ url_for('static', filename='ckeditable.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script> {# for the date picker #}
    <script src="{{ url_for('static', filename='newsample.js', version='20191209') }}"></script>
    <script src="{{ url_for('static', filename='userbrowser.js', version='20191209') }}"></script>
    <script src="{{ url_for('static', filename='editor.js', version='20191209') }}"></script>
    <script src="{{ url_for('static', filename='navbar.js', version='20191204') }}"></script>
    <script src="{{ url_for('static', filename='lightbox2-master/src/js/lightbox.js') }}"></script>
{% endblock %}


