{% import "bootstrap/wtf.html" as wtf %}

<div id="sampleid" style="display: none">{{ sample.id }}</div>
<div id="matrixview-frame">
<h1>Sample {{ sample.name }}</h1>
{% if sample.mheight == None %}
No matrix defined.
<form id="newmatrixform">
  {{ form.hidden_tag() }}
  <div class="col-md-2">{{ wtf.form_field(form.height) }}</div>
  <div class="col-md-2">{{ wtf.form_field(form.width) }}</div>
  <div class="col-md-1">{{ wtf.form_field(form.submit) }}</div>
</form>
{% else %}
Matrix dimensions: {{ sample.mheight }}x{{ sample.mwidth }}
<table style="width: 100%; border-style: solid; border-width: 1px">
  {% for yinv in range(sample.mheight) %}
  <tr>
    {% set y=sample.mheight-yinv %}
    <td>{{ y }}</td> <!-- header y axis -->
    {% for x in range(1,sample.mwidth+1) %}
      <td>
        <div class="matrixcell" data-mx="{{ x }}" data-my="{{ y }}">
          {% set vars={'found': False} %}
          {% for child in sample.children %}
            {% if child.mx==x and child.my==y %}
              <a href="{{ child.image }}" data-lightbox="{{ x }}-{{ y }}"><img id="{{ child.id }}" src="{{ child.image }}" width="100px" height="100px"></a>
              <p>{{ child.name }}</p>
              {% if vars.update({'found': True}) %}{% endif %} <!-- workaround because Jinja does not let me change variable from loop -->
            {% endif %}
          {% endfor %}
          {% if not vars.found %}{{ found }}<a href="" data-lightbox="{{ x }}-{{ y }}"><img src="" width="100px" height="100px"></a></p>{% endif %}
        </div>
      </td>
    {% endfor %}
  </tr>
  {% endfor %}
  <tr>
    <td>
    </td>
    {% for x in range(1,sample.mwidth+1) %}<td>{{ x }}</td>{% endfor %}   <!-- header x axis -->
  </tr>
</table>
{% endif %}
</div>


