{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    {{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script>
    var ckeditorconfig = {
        filebrowserImageBrowseUrl : '/browser',
        filebrowserWindowWidth  : 800,
        filebrowserWindowHeight : 500,
        toolbar:
        [
            ['Bold', 'Italic', 'Underline','Subscript','Superscript', 'Format', 'Styles', '-',
                'NumberedList', 'BulletedList', 'HorizontalRule', '-', 'Link', 'Unlink', '-',
                'Image', 'Table', 'SpecialChar', '-', 'Maximize'],
            ['UIColor']
        ]
    };

    $(document).ready(function() {
        CKEDITOR.replace( 'description', ckeditorconfig);

        create_selectsample($('#parent'), $('#parentid'), {{ "false" if parenterror else "true" }});
    });
    </script>
{% endblock %}