{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    {{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script>
    CKEDITOR.timestamp='20191201';

    // configure the CKEditor
    var ckeditorconfig = {
        extraPlugins: 'save,fb',
        imageUploadUrl: '/browser/upload?type=img',
        uploadUrl: '/browser/upload?type=att',
        filebrowserImageUploadUrl: '/browser/upload?type=img',
        filebrowserLinkUploadUrl: '/browser/upload?type=att',
        toolbarGroups: [
            { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
            { name: 'forms', groups: [ 'forms' ] },
            { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
            { name: 'others', groups: [ 'others' ] },
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'styles', groups: [ 'styles' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
            { name: 'links', groups: [ 'links' ] },
            { name: 'insert', groups: [ 'insert' ] },
            { name: 'colors', groups: [ 'colors' ] },
            { name: 'about', groups: [ 'about' ] },
            { name: 'tools', groups: [ 'tools' ] }
        ],
        removeButtons: 'Cut,Copy,Paste,PasteText,PasteFromWord,Undo,Redo,BGColor,RemoveFormat,Outdent,Indent,Blockquote,About,Strike,Scayt,Anchor,Source'
    };

    $(document).ready(function() {
        CKEDITOR.replace( 'description', ckeditorconfig);

        create_selectsample($('#parent'), $('#parentid'), {{ "false" if parenterror else "true" }});
    });
    </script>
{% endblock %}