{% extends "base.html" %}
{% import "util/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='print.css')}}">
{% endblock %}

{% block sidebarnav %}
<div class="col-sm-3 col-md-2 sidebar">
    {{ wtf.quick_form(form) }}
    <div class="checkbox"><label><input type="checkbox" id="chkshowuser">Hide user names</label></div>
    <p>Reduce image size:</p>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
        Off
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Off</a></li>
            <li><a href="#">20%</a></li>
            <li><a href="#">35%</a></li>
            <li><a href="#">50%</a></li>
            <li><a href="#">65%</a></li>
            <li><a href="#">80%</a></li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <button type="button" class="btn btn-default" id="btnprint">Print</button>
</div>
{% endblock %}

{% block page_content %}
    <div id="printArea">
        {% for action in actions %}
        {% if previous_sample != action.sample.id %}
        <div class="samplename">
            Sample {{ action.sample.name }}
            {% if action.sample.owner != current_user %}
                <i>({{ action.sample.owner.username }})</i>
            {% endif %}
        </div>
        {% endif %}
        {% set previous_sample = action.sample.id %}
        <div>
            <div class="actionheader">
                <span>
                    <span class="date">{{ action.timestamp }}</span>
                    <span class="username">{{ action.owner.username }}</span>
                </span>
            </div>
            <div class="actiondesc">{{ action.description|safe }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    {% include "util/mathjax.html" %}
    <script src="{{ url_for('static', filename='racine.js', version='20230402') }}"></script>
    <script>
        R.init("{{ api_token }}", "print", {'sampleerror': {{ "true" if sampleerror else "false" }} });        
    </script>
{% endblock %}
