{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='print.css')}}">
{% endblock %}

{% block sidebarnav %}
<div class="col-sm-3 col-md-2 sidebar">
    {{ wtf.quick_form(form, id="selectdataform") }}
    <div class="checkbox"><label><input type="checkbox" id="chkshowuser" onchange="onChkShowUser()">Hide user names</label></div>
    <div class="checkbox"><label><input type="checkbox" id="chkshowtype" onchange="onChkShowType()">Hide action types</label></div>
    <p>Reduce image size:</p>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
        Off
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Off</a></li>
            <li><a href="#">20%</a></li>
            <li><a href="#">35%</a></li>
            <li><a href="#">50%</a></li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <button type="button" class="btn btn-default" id="btnprint">Print</button>
</div>
{% endblock %}

{% block page_content %}
    <div id="printArea">
        {% for action in actions %}
        {% if previous_sample != action.sample.id %}
        <div class="samplename">
            Sample {{ action.sample.name }}
        </div>
        {% endif %}
        {% set previous_sample = action.sample.id %}
        <div>
            <div class="actionheader">
                <span>
                    <span class="date">{{ action.timestamp }}</span>
                    <span class="username">{{ action.owner.username }}</span>
                    <span class="actiontype">{{ action.actiontype.name }}</span>
                </span>
            </div>
            <div class="actiondesc">{{ action.description|safe }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/x-mathjax-config">
        // tell MathJax to align left even if it's not loaded yet
        // this _has_ to be executed before MathJax is loaded (that's why it's not in editor.js anymore)
        MathJax.Hub.Config({
            displayAlign: "left"
        });
    </script>
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>window.MathJax || document.write('<script async src="{{ url_for('static', filename='mathjax/MathJax.js') }}?config=TeX-MML-AM_CHTML">\x3C/script>')</script>
    <script>
        // could do this more efficiently with jQuery
        function onChkShowUser() {
            var spans = document.getElementsByClassName("username");
            if(document.getElementById('chkshowuser').checked) {
                for (var i = 0; i < spans.length; i++)
                    spans[i].style.display = "none";
            } else {
                for (var i = 0; i < spans.length; i++)
                    spans[i].style.display = "initial";
            }
        }

        // could do this more efficiently with jQuery
        function onChkShowType() {
            var spans = document.getElementsByClassName("actiontype");
            if(document.getElementById('chkshowtype').checked) {
                for (var i = 0; i < spans.length; i++)
                    spans[i].style.display = "none";
            } else {
                for (var i = 0; i < spans.length; i++)
                    spans[i].style.display = "initial";
            }
        }
    </script>
    <script>
        (function($) {
            var images = document.getElementsByTagName('img');
            for(var i=0; i < images.length; i++) {
                images[i].orgwidth = images[i].style.width;
                images[i].orgheight = images[i].style.height;
            }

            $(".dropdown-menu li a").click(function(){
              $(".btn:first-child").html($(this).text()+'<span class="caret"></span>');
              if($(this).text() == "Off") {
                for(var i=0; i < images.length; i++) {
                    images[i].style.width = images[i].orgwidth;
                    images[i].style.height = images[i].orgheight;
                }
              } else {
                  for(var i=0; i < images.length; i++) {
                      images[i].style.width = $(this).text();
                      images[i].style.height = "auto";
                  }
              }
            });

            $("#sample").autocomplete({
                source: function (request, response) {
                    $.getJSON("/search", {
                        term: request.term, // in flask, "term" will be the argument to look for using request.args
                    }, function (data) {
                        response(data.results); // results from jsonify
                    });
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                },
                focus: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                }
            });

            $("#datefrom").attr("autocomplete", "off");
            $("#datefrom").datepicker({dateFormat: "yy-mm-dd"});
            $("#dateto").attr("autocomplete", "off");
            $("#dateto").datepicker({dateFormat: "yy-mm-dd"});


            $("#btnprint").click(function(){
                $("body").append('<div id="printDestination">'+document.getElementById("printArea").innerHTML+'</div>');
                window.print();
                $("#printDestination").remove();
            });
        })(jQuery);
    </script>
{% endblock %}