{% extends "skeleton.html" %}

{% set begin_flashmsg = "<div class='alert alert-warning alert-dismissible' role='alert'><button type='button' class='btn-close' data-bs-dismiss='alert'></button>" %}
{% set end_flashmsg = "</div>" %}

{% block title %}
    {% if sample is defined and sample is not none %}
        Racine - {{ sample.name }}
    {% else %}
        Racine
    {% endif %}
{% endblock %}

{% block metas %}
{{ super() }}
    <meta name="mobile-web-app-capable" content="yes">
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/typeahead.css')}}">
    {% if config['DEBUG'] %}
        <style>
            /* TODO: adapt for BS 5 */
            .navbar-fixed-top {
                background-color: #660000;
            }
        </style>
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            {% block navbar_top_header %}
            {% endblock %}
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/racine-icon.svg') }}"/>
                {% if config['DEBUG'] %}
                Racine #DEV#
                {% else %}
                Racine
                {% endif %}
            </a>
            {% block navbar_top_footer %}
            {% endblock %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                </ul>
                {% block navbar_top %}
                {% endblock %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='racine.js', version=racine_version) }}"></script>
    <script>
        R.init("{{ api_token }}", "{{ config['ICON_THEME'] }}", "{{ js_view }}", {{ js_params|tojson }});
    </script>
{% endblock %}
