{% extends "skeleton.html" %}

{% set begin_flashmsg = "<div class='alert alert-warning'><button type='button' class='close' data-dismiss='alert'>&times;</button>" %}
{% set end_flashmsg = "</div>" %}

{% block title %}
    {% if sample is defined and sample is not none %}
        Racine - {{ sample.name }}
    {% else %}
        Racine
    {% endif %}
{% endblock %}

{% block metas %}
{{ super() }}
    <meta name="mobile-web-app-capable" content="yes">
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/typeahead.css')}}">
    {% if config['DEBUG'] %}
        <style>
            .navbar-fixed-top {
                background-color: #660000;
            }
        </style>
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                {% block navbar_top_header %}
                {% endblock %}
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/racine-icon.svg') }}"/>
                    {% if config['DEBUG'] %}
                    Racine #DEV#
                    {% else %}
                    Racine
                    {% endif %}
                </a>
            </div>
            {% block navbar_top %}
            {% endblock %}
        </div>
    </nav>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='racine.js', version=racine_version) }}"></script>
    <script>
        R.init("{{ api_token }}", "{{ config['ICON_THEME'] }}", "{{ js_view }}", {{ js_params|tojson }});
    </script>
{% endblock %}
