{# {% block styles %}
    {{ super() }}
    <style>
    .resultslist {
        max-width: 500px;
    }

    div.sample > img {
        width: 24px;
        height: 24px;
    }
    </style>
{% endblock %} #}

<h2><b>Search results:</b> "{{ term }}"</h2>
<hr>
<div class="resultslist" style="max-width:500px;">
{% for r in results %}
    <div class="sample" data-id="{{ r.id }}">
        <img src="/static/images/sample.png" width="24px">
        {{ r.name }} &nbsp;&nbsp;
        {% if not r.mysample %}
            <i class="glyphicon glyphicon-user"></i>
            {{ r.ownername }} &nbsp;&nbsp;
        {% endif %}
        {% if r.parentname %}
            <i class="glyphicon glyphicon-level-up"></i>
            {{ r.parentname }}
        {% endif %}
    </div>
{% endfor %}
</div>