{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
    .resultslist {
        max-width: 500px;
    }

    .sample {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sample:hover {
        background-color: #CCCCEE;
        cursor: pointer;"
    }

    .sample > img {
        width: 24px;
        height: 24px;
    }
    </style>
{% endblock %}

{% block page_content %}
    <h2><b>Search results:</b> "{{ term }}"</h2>
    <hr>
    <div class="resultslist">
    {% for r in results %}
        <div class="sample" data-id="{{ r.id }}">
            <img src="/static/sample.png">
            {{ r.name }} &nbsp;&nbsp;
            {% if not r.mysample %}
                <i class="glyphicon glyphicon-user"></i>
                {{ r.ownername }} &nbsp;&nbsp;
            {% endif %}
            {% if r.parentname %}
                <i class="glyphicon glyphicon-level-up"></i>
                {{ r.parentname }}
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8">
    $(function() {
        $(document).ready(function() {
            $('.sample').click(function(event) {
                location.href = '/sample/'+$(this).data('id');
            })
        });
    });
    </script>
{% endblock %}
