<!DOCTYPE html>
<html>
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    {% for s in icons.stylesheets %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/' + s)}}">
    {% endfor %}
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    <div id="overlay">
      <div id="overlaytext"></div>
    </div>
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
</html>
