<h1>Welcome</h1>
{% for p in plugins %}
    <h2>{{ p.title }}</h2>
    {{ p.display()|safe }}
{% endfor %}
{% if current_user.is_admin %}
    <h2>Active SMB connections</h2>
    <table>
    {% for c in conns %}
        <tr><td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;"><img src="{{ url_for('static', filename='resource.png') }}" width="40">{{ c.resource }}, {{ "not" if not c.inuse else "" }} in use</td></tr>
    {% endfor %}
    </table>
    <h2>Upload volume per user</h2>
    <table>
    {% for u in uploadvols %}
        {% if u[1] %}
            <tr>
                <td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;"><img src="{{ url_for('static', filename='user.png') }}" width="40">{{ u[0].username }}</td>
                <td style="padding-top: 10px;">
                    <div class="progress" style="width: 200px;">
                        <div class="progress-bar" role="progressbar" style="width:{{ u[1]/maxuploadvol*100 }}%;color:#000000";>
                        </div>
                    </div>
                </td>
                <td style="padding-bottom: 10px;padding-left:20px;">
                    {{ u[1]|filesizeformat }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
    <h2>Recent activity per user (actions added in the last 7 days):</h2>
    <table>
    {% for n in newactionsallusers %}
        {% if n[1] %}
            <tr>
                <td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;"><img src="{{ url_for('static', filename='user.png') }}" width="40">{{ n[0].username }}</td>
                <td style="padding-top: 10px;">
                    <div class="progress" style="width: 200px;">
                        <div class="progress-bar" role="progressbar" style="width:{{ n[1]/maxcountallusers*100 }}%;">
                            {{ n[1] }}
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endif %}
{% if current_user.is_authenticated %}
    <h2>Recent activity (actions added in the last 7 days):</h2>
    <table>
    {% for n in newactions %}
        {% if n[1] %}
            <tr>
                <td style="padding-right: 20px; padding-bottom: 10px; vertical-align: top;"><img src="{{ url_for('static', filename='sample.png') }}" width="40">{{ n[0].name }}</td>
                <td style="padding-top: 10px;">
                    <div class="progress" style="width: 200px">
                        <div class="progress-bar" role="progressbar" style="width:{{ n[1]/maxcount*100 }}%">
                            {{ n[1] }}
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endif %}